@font-face {
  font-family: "Cormorant Garamond";
  src: url("../assets/fonts/Cormorant-Garamond/CormorantGaramond-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../assets/fonts/Cormorant-Garamond/CormorantGaramond-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../assets/fonts/Cormorant-Garamond/CormorantGaramond-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../assets/fonts/Cormorant-Garamond/CormorantGaramond-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../assets/fonts/Cormorant-Garamond/CormorantGaramond-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../assets/fonts/museo-sans-cyrl/museosanscyrl-300.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../assets/fonts/museo-sans-cyrl/museosanscyrl-500.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../assets/fonts/museo-sans-cyrl/museosanscyrl-700.woff2");
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  min-width: 375px;
  background: #0f0f0e;
  color: #ffffff;
  font-family: "Cormorant Garamond", sans-serif;
}

main {
  flex: 1 1 auto;
}

a {
  font-family: "Cormorant Garamond", sans-serif;
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

button {
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
}

img,
video {
  width: 100%;
  display: block;
  border-style: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  gap: 140px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 80px;
}

.callback-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.callback-btn:hover .callback-btn__title {
  color: #c1995b;
}

.callback-btn__title {
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  transition: 0.3s ease-in-out;
}

.callback-btn__icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.section-link {
  display: flex;
}

.section-link__wrap {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 22px 0px 22px 32px;
  cursor: pointer;
}

.section-link__wrap:hover .section-link__circle {
  background: #c1995b;
}

.section-link__circle {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border: 1px solid #c1995b;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.section-link__title {
  position: relative;
  z-index: 1;
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
}

.section-link__icon {
  width: 16px;
  height: 16px;
}

.agreement-link {
  cursor: pointer;
}

.menu-btn {
  display: none;
  cursor: pointer;
}

.menu-btn:hover .menu-btn__title {
  color: #c1995b;
}

.menu-btn__title {
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: 0.3s ease-in-out;
}

.menu-block {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: none;
}

.menu-block.show {
  display: block;
  animation: menuBlockShow 0.3s ease-in-out;
}

@keyframes menuBlockShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menu-block .container {
  height: 100%;
}

.menu-block .menu-block__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.menu-block .menu-block__wrap .menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
}

.menu-block .menu-block__wrap .menu-header__box {
  display: flex;
  align-items: center;
  gap: 40px;
  color: #0f0f0e;
}

.menu-block .menu-block__wrap .callback-btn:hover .callback-btn__title {
  color: #c1995b;
}

.menu-block .menu-block__wrap .callback-btn__title {
  color: #0f0f0e;
  transition: 0.3s ease-in-out;
}

.menu-block .menu-block__wrap .menu-btn__title {
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.menu-block .menu-block__wrap .menu-content {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 100px 0px 0px;
}

.menu-block .menu-block__wrap .menu-content .navbar-list {
  grid-column: span 2/4;
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
}

.menu-block .menu-block__wrap .menu-content .navbar-list__item {
  color: #0f0f0e;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.menu-block .menu-block__wrap .menu-content .navbar-list__item:hover {
  color: #c1995b;
}

.menu-block .menu-block__wrap .menu-content .menu-communications {
  grid-column: span 2/4;
}

.menu-block .menu-block__wrap .menu-content .menu-communications .callback-btn {
  display: none;
}

.menu-block .menu-block__wrap .menu-content .menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 36px;
}

.menu-block .menu-block__wrap .menu-content .menu-contacts__title {
  margin-bottom: 6px;
  color: #c1995b;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.menu-block .menu-block__wrap .menu-content .menu-contacts__desc {
  color: #0f0f0e;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.menu-block .menu-block__wrap .menu-content .menu-socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-block .menu-block__wrap .menu-content .menu-socials__items:hover .menu-socials__icon path {
  fill: #c1995b;
}

.menu-block .menu-block__wrap .menu-content .menu-socials__icon path {
  transition: 0.3s ease-in-out;
}

.menu-block .menu-block__wrap .menu-footer {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0px 0px 32px;
}

.menu-block .menu-block__wrap .menu-footer__item {
  color: #797977;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: 0.3s ease-in-out;
}

.menu-block .menu-block__wrap .menu-footer__item:not(:first-child):hover {
  color: #c1995b;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background: #0f0f0e;
  transition: 0.3s ease-in-out;
}

.header.scrolled {
  transform: translateY(-100%);
}

.header.scrolled.up {
  transform: translateY(0%);
  background: #ffffff;
}

.header.scrolled.up .menu-btn__title {
  color: #0f0f0e;
}

.header.scrolled .navbar-list__item {
  color: #0f0f0e;
}

.header.scrolled .callback-btn__title {
  color: #0f0f0e;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
}

.header-navbar {
  display: flex;
  gap: 74px;
}

.header .navbar-list {
  display: flex;
  gap: 24px;
  list-style: none;
}

.header .navbar-list__item {
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.header .navbar-list__item:hover {
  color: #c1995b;
}

.footer {
  border-top: 1px solid rgba(193, 153, 91, 0.2);
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}

.footer-box {
  display: flex;
  gap: 184px;
}

.footer__item {
  color: #797977;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: 0.3s ease-in-out;
}

.footer .agreement-link {
  color: #797977;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: 0.3s ease-in-out;
}

.footer .agreement-link:hover {
  color: #c1995b;
}

.footer__links {
  display: flex;
  gap: 140px;
}

.footer__links .footer__item:hover {
  color: #c1995b;
}

.footer__btn-up {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  color: #c1995b;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  transition: 0.3s ease-in-out;
}

.footer__btn-up:hover {
  color: #ffffff;
}

.footer__btn-up:hover .footer__btn-img path {
  fill: #ffffff;
}

.footer__btn-img path {
  transition: 0.3s ease-in-out;
}

.preview {
  border-top: 1px solid rgba(193, 153, 91, 0.2);
  overflow: hidden;
}

.preview.scroll .preview-image__wrap {
  clip-path: circle(100%);
}

.preview.scroll .preview-raiting {
  opacity: 0;
  pointer-events: none;
}

.preview.scroll .preview-raiting__tooltip {
  opacity: 0;
}

.preview__wrap {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100vh;
  border-left: 1px solid rgba(193, 153, 91, 0.2);
  border-right: 1px solid rgba(193, 153, 91, 0.2);
}

.preview-logo {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  border-left: 1px solid rgba(193, 153, 91, 0.2);
  border-right: 1px solid rgba(193, 153, 91, 0.2);
}

.preview-logo__img {
  height: 500px;
}

.preview-info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 85vh;
}

.preview-info__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.preview-raiting {
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: 0.3s ease-in-out;
}

.preview-raiting__link {
  display: flex;
  align-items: center;
  gap: 6px;
}

.preview-raiting__link:hover .preview-raiting__show {
  color: #c1995b;
}

.preview-raiting__value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
  background: rgba(193, 153, 91, 0.2);
  color: #c1995b;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.preview-raiting__elem {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.preview-raiting__title {
  color: #c1995b;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.preview-raiting__show {
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  transition: 0.3s ease-in-out;
}

.preview-raiting__tooltip {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease-in-out;
}

.preview-raiting__tooltip-icon {
  width: 16px;
  height: 16px;
}

.preview-raiting__tooltip-title {
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.preview-desc {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  color: #ffffff;
  text-align: center;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 104px;
  font-style: normal;
  font-weight: 500;
  line-height: 104px;
  text-transform: uppercase;
}

.preview-title {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.preview-image {
  height: 100vh;
  position: relative;
}

.preview-image__wrap {
  height: inherit;
  border-radius: 50% 50% 0% 0%;
  clip-path: circle(320px);
  background-size: cover;
  background-position: center;
  transform: translateY(-50%);
  transition: clip-path 2s;
}

.preview-image__images-block {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.preview-image .container {
  position: relative;
  height: 100%;
}

.preview-image__small-img:first-child {
  position: absolute;
  bottom: 200px;
  left: 108px;
  width: 416px;
  height: 539px;
}

.preview-image__small-img:nth-child(2) {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 416px;
  height: 539px;
}

.preview-image__small-img:nth-child(3) {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 200px;
  height: 254px;
}

.about__wrap {
  position: relative;
}

.about-header {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 231px;
}

.about-header__section-title {
  margin-bottom: 16px;
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
}

.about-header__separator {
  width: 1px;
  height: 45px;
  margin-bottom: 8px;
  background: #ffffff;
}

.about-header__title {
  color: #ffffff;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-transform: uppercase;
}

.about-header__logo-title {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
}

.about-header__title-img {
  width: 340px;
  height: 184px;
}

.about-list {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  padding-bottom: 300px;
}

.about-list__wrap {
  grid-column: span 6/12;
}

.about-list__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 20px;
  margin-bottom: 56px;
  list-style: none;
}

.about-list__item {
  border-left: 1px solid rgba(193, 153, 91, 0.2);
  padding-bottom: 32px;
}

.about-list__num {
  padding: 4px 0px 4px 32px;
  border-left: 3px solid #c1995b;
  margin-bottom: 16px;
}

.about-list__desc {
  padding-left: 32px;
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.about-list__images {
  position: relative;
  grid-column: span 5;
  transform: translateX(-80px);
}

.about-list__small-img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  transform: translate(50%, 72%);
  width: 308px;
  height: 400px;
}

.about-arrow {
  position: absolute;
  bottom: -15px;
  right: 70px;
  transform: translateY(100%);
}

.about .section-link {
  justify-content: flex-end;
  padding-right: 40px;
}

.amateur-header {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 190px;
  text-align: center;
}

.amateur-header__title {
  max-width: 987px;
  color: #ffffff;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  text-transform: uppercase;
}

.amateur-header__img-wrap {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%);
}

.amateur-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 96px;
}

.amateur-item {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  border-left: 1px solid rgba(193, 153, 91, 0.2);
  padding-right: 40px;
}

.amateur-item__num {
  padding-left: 70px;
  border-left: 3px solid #c1995b;
  color: #f3eee8;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}

.amateur-item__desc {
  color: #f3eee8;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.amateur-notation {
  position: relative;
}

.amateur-notation__desc {
  margin-bottom: 56px;
  color: #c1995b;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

.amateur-notation__arrow {
  position: absolute;
  top: 20px;
  right: 10px;
}

.amateur .section-link {
  justify-content: flex-end;
}

.amateur .section-link__wrap {
  margin-right: 190px;
}

.cases__wrap {
  background: #ffffff;
}

.cases .container {
  padding-right: 0px;
  position: relative;
}

.cases-header {
  position: relative;
  padding: 140px 0px;
  margin-right: 80px;
  display: flex;
  justify-content: center;
}

.cases-header__title {
  text-align: center;
  color: #0f0f0e;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-transform: uppercase;
}

.cases-header__logo {
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translateX(-50%);
}

.cases-swiper {
  transform: translateY(100px);
}

.cases-list {
  overflow: hidden;
}

.cases-slide {
  display: none;
}

.cases-slide.show {
  display: block;
}

.cases-slide__wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 127px 0px;
  border-left: 1px solid rgba(193, 153, 91, 0.2);
  animation: slideFade 0.3s ease-in-out;
}

@keyframes slideFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cases-desc {
  grid-column: span 2;
  grid-row: 1;
  padding-right: 92px;
  height: 450px;
}

.cases-desc__header {
  margin-bottom: 40px;
}

.cases-desc__title {
  margin-bottom: 24px;
  padding-left: 30px;
  border-left: 3px solid #c1995b;
  color: #c1995b;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
}

.cases-desc__text {
  padding-left: 30px;
  color: #797977;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.cases-desc__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 30px;
}

.cases-desc__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.cases-desc__item-title {
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.cases-desc__item-value {
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.cases-img {
  grid-column: span 3;
  grid-row: 1/span 2;
  position: relative;
  height: 100%;
}

.cases-img__elem {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cases-img__pagination {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 16px;
}

.cases-img__pagination-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.cases-img__pagination-item.active {
  background: #c1995b;
}

.cases-nav {
  grid-column: span 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 92px 0px 30px;
}

.cases-nav__pagination {
  display: flex;
  align-items: center;
  color: #c1995b;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
}

.cases-nav__btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cases-nav button svg circle,
.cases-nav button svg path {
  transition: 0.3s ease-in-out;
}

.cases-nav button.disabled svg circle {
  stroke: rgba(193, 153, 91, 0.2);
}

.cases-nav button.disabled svg path {
  fill: rgba(193, 153, 91, 0.2);
}

.cases-picture {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  width: 200px;
  height: 254px;
}

.cases-basement {
  height: 100px;
}

.contacts__wrap {
  padding-bottom: 120px;
}

.contacts-header {
  position: relative;
  text-align: center;
  margin-bottom: 200px;
}

.contacts-header__title {
  color: #ffffff;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-transform: uppercase;
}

.contacts-header__logo {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
}

.contacts-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

.contacts-block__box {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contacts-block__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.contacts-block__title {
  color: #c1995b;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.contacts-block__desc {
  color: #ffffff;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.contacts-block__socials-list {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
}

.contacts-block__socials-item:hover .contacts-block__socials-icon path {
  fill: #c1995b;
}

.contacts-block__socials-icon path {
  transition: 0.3s ease-in-out;
}

.reasons-header {
  position: relative;
  margin-bottom: 180px;
  display: flex;
  justify-content: center;
}

.reasons-header__title {
  text-align: center;
  color: #ffffff;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 86px;
  font-style: normal;
  font-weight: 400;
  line-height: 86px;
  text-transform: uppercase;
}

.reasons-header__logo {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}

.reasons-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.reasons-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-left: 1px solid rgba(193, 153, 91, 0.2);
}

.reasons-item__title {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0px 32px 0px;
  border-left: 3px solid #c1995b;
  color: #c1995b;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}

.reasons-item__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 0px 32px 0px 59px;
  list-style: disc;
}

.reasons-item__elem {
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.reasons-item__note {
  display: flex;
  align-items: center;
  gap: 6px;
}

.reasons-item__note-title {
  text-decoration: underline;
}

.reasons-item__note-elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #c1995b;
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  cursor: pointer;
}

.reasons-item__tooltip {
  position: absolute;
  display: none;
  top: -7px;
  left: -9px;
  transform: translateY(-100%);
  border-radius: 8px;
  background: #c1995b;
}

.reasons-item__tooltip.show {
  display: block;
}

.reasons-item__tooltip-desc {
  position: relative;
  display: inline-block;
  width: 265px;
  padding: 8px 16px;
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.reasons-item__tooltip-triangel {
  position: absolute;
  bottom: -7px;
  left: 10px;
  width: 16px;
  height: 8px;
}

.reasons-item__info {
  padding: 0px 32px 0px;
  color: #797977;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.solution {
  background: linear-gradient(to right, #ffffff 50%, #f3eee8 50%);
}

.solution .container {
  overflow: hidden;
}

.solution__wrap {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.solution-item {
  display: flex;
  flex-direction: column;
  gap: 400px;
  padding: 140px 0px;
  border-left: 1px solid rgba(193, 153, 91, 0.2);
}

.solution-item:nth-child(2) {
  border-right: 1px solid rgba(193, 153, 91, 0.2);
}

.solution-item__header {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 80px 0px 70px;
  border-left: 3px solid #c1995b;
}

.solution-item__num {
  color: #0f0f0e;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}

.solution-item__desc {
  color: #0f0f0e;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.solution-item__desc--bold {
  font-weight: 600;
}

.solution-item__info {
  padding-left: 108px;
}

.solution-item__info-desc {
  margin-bottom: 48px;
}

.solution-item__title {
  margin-bottom: 24px;
  color: #c1995b;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}

.solution-item__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  list-style: none;
}

.solution-item__list-item {
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.solution-item .solution-title {
  display: none;
}

.solution-item .solution-title__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
}

.solution-item .solution-title__item-img {
  width: 261px;
  height: 85px;
}

.solution-item .solution-title__logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.solution-item .solution-title__arrow {
  position: absolute;
  top: 40px;
  right: 8px;
}

.solution .section-link__title {
  color: #0f0f0e;
}

.solution-title {
  position: absolute;
  top: 372px;
  width: 100%;
}

.solution-title__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.solution-title__logo {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.solution-image {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.solution-image__img-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.solution-image__img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 308px;
  height: 400px;
}

.services {
  background: #ffffff;
}

.services .container {
  position: relative;
}

.services__wrap {
  position: relative;
  padding: 140px 0px;
}

.services-header {
  position: relative;
  margin-bottom: 175px;
  display: flex;
  justify-content: center;
}

.services-header__title {
  text-align: center;
  color: #0f0f0e;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-transform: uppercase;
}

.services-header__logo {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0px 108px;
}

.services-item {
  padding: 24px 0px;
  border-top: 1px solid rgba(193, 153, 91, 0.2);
  border-bottom: 1px solid rgba(193, 153, 91, 0.2);
}

.services-item.open .services-item__title {
  color: #c1995b;
}

.services-item.open .services-item__arrow-icon {
  transform: rotateX(180deg);
}

.services-item.open .services-item__arrow-icon path {
  fill: #c1995b;
}

.services-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.services-item__title {
  max-width: 955px;
  color: #0f0f0e;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.services-item__arrow-icon {
  width: 16px;
  height: 16px;
  transition: 0.3s ease-in-out;
}

.services-item__arrow-icon path {
  transition: 0.3s ease-in-out;
}

.services-item__desc {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0px 108px 0px 215px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.services-item__desc-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services-item__desc-box:first-child {
  padding-top: 40px;
}

.services-item__text {
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.services-item__desc-title {
  color: #c1995b;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
}

.services-item__list {
  list-style: none;
}

.services-item__list-item {
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.services-arrow {
  position: absolute;
  top: 0;
  left: 40%;
  transform: translate(-50%, -50%);
}

.services-arrow__icon {
  width: 100px;
  height: 100px;
}

.services-picture {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-80%);
  width: 308px;
  height: 400px;
}

.price-header {
  position: relative;
  margin-bottom: 400px;
  display: flex;
  justify-content: center;
}

.price-header__title {
  max-width: 555px;
  text-align: center;
  color: #ffffff;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-transform: uppercase;
}

.price-header__logo {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
}

.price-content {
  background: #f3eee8;
}

.price-content__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transform: translateY(-200px);
}

.price-block {
  padding-right: 45px;
}

.price-block:first-child {
  padding-right: 61px;
}

.price-block__wrap {
  display: flex;
  flex-direction: column;
  gap: 96px;
  margin-bottom: 56px;
  border-left: 1px solid rgba(193, 153, 91, 0.2);
}

.price-block__title-wrap {
  display: flex;
  justify-content: space-between;
  gap: 65px;
  padding-bottom: 24px;
}

.price-block__title {
  padding-left: 32px;
  color: #c1995b;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
  border-left: 3px solid #c1995b;
}

.price-block__info {
  max-width: 435px;
  padding-left: 32px;
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.price-desc {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 32px;
}

.price-desc__elem.open .price-desc__title-icon {
  transform: rotateX(180deg);
}

.price-desc__title {
  margin-bottom: 24px;
  color: #c1995b;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
}

.price-desc__title-icon {
  display: none;
  width: 16px;
  height: 16px;
  transition: 0.3s ease-in-out;
}

.price-desc__elem-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 60px;
}

.price-desc__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 15px;
}

.price-desc__list--style-none {
  list-style: none;
  padding-left: 0;
}

.price-desc__item {
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
}

.price-desc__text {
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
}

.price .section-link {
  padding-left: 93px;
}

.price .section-link__title {
  color: #0f0f0e;
}

.team {
  background: #ffffff;
}

.team .container {
  overflow: hidden;
  position: relative;
}

.team__wrap {
  padding: 140px 110px;
  position: relative;
  min-height: 100vh;
}

.team-header {
  position: relative;
  margin-bottom: 190px;
  display: flex;
  justify-content: center;
}

.team-header__title {
  text-align: center;
  color: #0f0f0e;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-transform: uppercase;
}

.team-header__logo {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.team-lineup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.team-item {
  padding: 24px 0px;
  border-top: 1px solid rgba(193, 153, 91, 0.2);
  border-bottom: 1px solid rgba(193, 153, 91, 0.2);
}

.team-item.open .team-item__title {
  color: #c1995b;
}

.team-item.open .team-item__arrow-icon {
  transform: rotateX(180deg);
}

.team-item.open .team-item__arrow-icon path {
  fill: #c1995b;
}

.team-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.team-item__title {
  color: #0f0f0e;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.team-item__arrow-icon {
  width: 16px;
  height: 16px;
  transition: 0.3s ease-in-out;
}

.team-item__arrow-icon path {
  transition: 0.3s ease-in-out;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0px 108px 0px 169px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.team-list__item {
  display: flex;
  gap: 16px;
}

.team-list__item:first-child {
  padding-top: 40px;
}

.team-list__num {
  white-space: nowrap;
  color: #c1995b;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.team-list__desc {
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.team-list__desc-title {
  margin-bottom: 24px;
}

.team-list__desc-list {
  list-style: disc;
  padding-left: 20px;
}

.team-arrow {
  position: absolute;
  top: 0;
  right: 70px;
  transform: translateY(-50%);
}

.team-image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.team-image__img-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.team-image__img {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 308px;
  height: 400px;
}

.consultation .container {
  overflow: hidden;
}

.consultation__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 165px;
  min-height: 50vh;
  margin-bottom: 140px;
}

.consultation-header {
  position: relative;
}

.consultation-header__title {
  text-align: center;
  color: #ffffff;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  text-transform: uppercase;
}

.consultation-header__logo {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.consultation-header__logo--expert {
  top: 40px;
}

.consultation .callback-form {
  max-width: 850px;
}

.consultation-image {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.notfound {
  border-top: 1px solid rgba(193, 153, 91, 0.2);
}

.notfound__wrap {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-left: 1px solid rgba(193, 153, 91, 0.2);
  border-right: 1px solid rgba(193, 153, 91, 0.2);
}

.notfound-logo {
  grid-column: 2/4;
  display: flex;
  justify-content: center;
  border-left: 1px solid rgba(193, 153, 91, 0.2);
  border-right: 1px solid rgba(193, 153, 91, 0.2);
}

.notfound-content {
  position: absolute;
  height: 100%;
  width: 100%;
}

.notfound-content__wrap {
  position: relative;
}

.notfound-content__logo {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.notfound-notation {
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.notfound-notation__title {
  margin-bottom: 50px;
}

.notfound-notation__text {
  max-width: 290px;
  margin-bottom: 24px;
  color: #797977;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.notfound-notation__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.notfound-notation__link-icon {
  width: 16px;
  height: 16px;
}

.agreement {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: none;
  justify-content: center;
  align-items: center;
}

.agreement.show {
  display: flex;
  animation: agreementShow 0.3s ease-in-out;
}

@keyframes agreementShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.agreement__wrap {
  position: relative;
  max-width: 1000px;
  padding: 80px;
  background: #ffffff;
}

.agreement__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.agreement__btn-close:hover .agreement__close-icon circle {
  fill: #c1995b;
}

.agreement__close-icon circle {
  transition: 0.3s ease-in-out;
}

.agreement-content__title {
  margin-bottom: 32px;
  color: #c1995b;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
}

.agreement-content__desc {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.agreement-content__text {
  color: #42413f;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.agreement-content__list {
  padding-left: 20px;
}

.agreement-content__item {
  color: #42413f;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.callback-form__input-block {
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px 16px;
}

.callback-form__input-wrap {
  padding: 16px 8px;
  border-bottom: 1px solid #42413f;
}

.callback-form__input-wrap.error {
  border-bottom: 1px solid #e32532;
}

.callback-form__input-wrap.error .callback-form__input::placeholder {
  color: #e32532;
}

.callback-form__input {
  width: 100%;
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  background: #0f0f0e;
}

.callback-form__input::placeholder {
  color: #42413f;
}

.callback-form__select {
  position: relative;
}

.callback-form__select.active .callback-form__select-icon {
  transform: rotateX(180deg);
}

.callback-form__select.active .callback-form__options-box {
  pointer-events: all;
}

.callback-form__select.active .callback-form__options-list {
  transform: translateY(0%);
}

.callback-form__select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  border-bottom: 1px solid #42413f;
  cursor: pointer;
}

.callback-form__select-current {
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.callback-form__select-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  transition: 0.3s ease-in-out;
}

.callback-form__options-box {
  overflow: hidden;
  position: absolute;
  top: 55px;
  left: 0px;
  width: 100%;
  pointer-events: none;
  z-index: 1;
}

.callback-form__options-list {
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  background: #0f0f0e;
  padding: 8px 0px;
  transition: 0.3s ease-in-out;
}

.callback-form__option {
  padding: 16px;
  color: #ffffff;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.callback-form__option:hover {
  background: #ffffff;
  color: #0f0f0e;
}

.callback-form__option-input {
  display: none;
}

.callback-form__notation {
  display: flex;
  align-items: center;
  gap: 16px;
}

.callback-form__agreement {
  width: 50%;
  color: #797977;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.callback-form .agreement-link {
  color: #c1995b;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.callback-form .section-link {
  width: 50%;
}

.callback-form .section-link.disabled .section-link__wrap {
  cursor: auto;
}

.callback-form .section-link.disabled .section-link__wrap:hover .section-link__circle {
  background: none;
}

.callback-form .section-link.disabled .section-link__circle {
  border: 1px solid #42413f;
}

.callback-form .section-link.disabled .section-link__title {
  color: #42413f;
}

.callback-form .section-link.disabled .section-link__icon path {
  fill: #42413f;
}

.callback-modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: none;
  justify-content: center;
  align-items: center;
}

.callback-modal.show {
  display: flex;
  animation: callbackShow 0.3s ease-in-out;
}

@keyframes callbackShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.callback-modal__form-wrap {
  position: relative;
  display: block;
  padding: 80px;
  background: #0f0f0e;
  max-width: 1000px;
}

.callback-modal__form-wrap.hidden {
  display: none;
}

.callback-modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.callback-modal__btn-close:hover .callback-modal__close-icon circle {
  fill: #c1995b;
}

.callback-modal__close-icon circle {
  transition: 0.3s ease-in-out;
}

.callback-modal__header {
  margin-bottom: 32px;
}

.callback-modal__title {
  margin-bottom: 8px;
  color: #ffffff;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  text-transform: uppercase;
}

.callback-modal__notation {
  color: #797977;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.callback-modal .callback-success {
  position: relative;
  display: none;
  padding: 40px;
  background: #0f0f0e;
}

.callback-modal .callback-success.show {
  display: block;
}

.callback-modal .callback-success .callback-modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.callback-modal .callback-success .callback-modal__btn-close:hover .callback-modal__close-icon circle {
  fill: #c1995b;
}

.callback-modal .callback-success .callback-modal__btn-close .callback-modal__btn-close circle {
  transition: 0.3s ease-in-out;
}

.callback-modal .callback-success__text {
  color: #ffffff;
  text-align: center;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.cookie-block {
  display: none;
  position: fixed;
  bottom: 55px;
  left: 0;
  z-index: 1;
  width: 100%;
}

.cookie-block.show {
  display: block;
}

.cookie-block__wrap {
  display: flex;
  justify-content: flex-end;
}

.cookie-block__box {
  width: 640px;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  background: #ffffff;
}

.cookie-block__text {
  color: #797977;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.cookie-block .agreement-link {
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  transition: 0.3s ease-in-out;
}

.cookie-block .agreement-link:hover {
  color: #c1995b;
}

.cookie-block__accept {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #0f0f0e;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  transition: 0.3s ease-in-out;
}

.cookie-block__accept:hover {
  color: #c1995b;
}

.cookie-block__accept-icon {
  width: 16px;
  height: 16px;
}

.preloader {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  background: #0f0f0e;
}

.preloader.show {
  z-index: 9999;
  visibility: visible;
  opacity: 1;
}

.preloader.show .preloader__wrap {
  animation: preloaderShow 0.5s ease-in-out;
}

@keyframes preloaderShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.preloader-header {
  border-bottom: 1px solid rgba(193, 153, 91, 0.2);
}

.preloader-header__wrapper {
  padding: 16px 0px;
}

.preloader-header__logo {
  width: 130px;
  height: 42px;
}

.preloader-content {
  border-top: 1px solid rgba(193, 153, 91, 0.2);
  border-bottom: 1px solid rgba(193, 153, 91, 0.2);
}

.preloader-content__wrap {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-right: 1px solid rgba(193, 153, 91, 0.2);
  border-left: 1px solid rgba(193, 153, 91, 0.2);
}

.preloader-content__logo {
  grid-column: span 2/4;
  display: flex;
  justify-content: center;
  border-right: 1px solid rgba(193, 153, 91, 0.2);
  border-left: 1px solid rgba(193, 153, 91, 0.2);
}

.preloader-content__logo-img {
  height: calc(100vh - 160px);
  animation: logoScaleRotate 1s ease;
}

@keyframes logoScaleRotate {
  from {
    rotate: 310deg;
    scale: 0.1;
  }

  to {
    rotate: 360deg;
    scale: 1;
  }
}

.preloader-percent {
  position: absolute;
  bottom: 30px;
  right: 7px;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  text-transform: uppercase;
}

.preloader-progress {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
}

.preloader-progress__bar {
  background: #c1995b;
  width: 0%;
  height: 100%;
  transition: width 0.3s ease-in-out;
}

@media screen and (max-width: 1439px) {
  main {
    gap: 120px;
  }

  .container {
    padding: 0px 64px;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .header-navbar {
    gap: 40px;
  }

  .header .navbar-list {
    display: none;
  }

  .footer-box {
    gap: 40px;
  }

  .footer__links {
    gap: 40px;
  }

  .preview-desc {
    top: 75px;
  }

  .preview-image__wrap {
    clip-path: circle(230px);
  }

  .about-header {
    margin-bottom: 200px;
  }

  .about-header__logo-title {
    top: 120px;
  }

  .about-header__title-img {
    width: 300px;
    height: 162px;
  }

  .about-list {
    display: flex;
    flex-direction: column-reverse;
    gap: 72px;
    padding-bottom: 150px;
  }

  .about-list__desc {
    font-size: 16px;
    line-height: 22px;
  }

  .about-list__images {
    transform: translateX(-64px);
  }

  .about-list__small-img {
    transform: translate(30%, 30%);
  }

  .amateur-header {
    margin-bottom: 150px;
  }

  .amateur-header__title {
    font-size: 46px;
    line-height: 46px;
    max-width: 767px;
  }

  .amateur-header__img-wrap {
    top: 110px;
  }

  .amateur-header__img {
    width: 371px;
    height: 110px;
  }

  .amateur-item__num {
    font-size: 20px;
    line-height: 24px;
    padding-left: 16px;
  }

  .amateur-item__desc {
    font-size: 20px;
    line-height: 22px;
  }

  .amateur-notation__desc {
    font-size: 20px;
    line-height: 22px;
  }

  .amateur-notation__arrow {
    right: 0px;
  }

  .cases-header__title {
    font-size: 64px;
    line-height: 64px;
  }

  .cases-header__logo {
    top: 150px;
  }

  .cases-header__logo-img {
    width: 327px;
    height: 144px;
  }

  .cases-slide__wrap {
    gap: 64px 0px;
  }

  .cases-desc {
    padding-right: 24px;
  }

  .cases-desc__title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .reasons-header__logo {
    top: 200px;
  }

  .solution-item {
    padding: 120px 0px;
    gap: 280px;
  }

  .solution-item__header {
    min-height: 110px;
    padding: 0px 16px;
    gap: 8px;
  }

  .solution-item__num {
    font-size: 20px;
    line-height: 24px;
  }

  .solution-item__desc {
    font-size: 20px;
    line-height: 22px;
  }

  .solution-item__info {
    padding-left: 16px;
  }

  .solution-item__title {
    font-size: 24px;
    line-height: 26px;
    padding-right: 26px;
  }

  .solution-title {
    top: 290px;
  }

  .solution-title__wrap {
    padding: 0px 16px;
  }

  .solution-title__logo-img {
    width: 88px;
    height: 140px;
  }

  .solution-title__item-img {
    width: 421px;
    height: 136px;
  }

  .solution-title__arrow-img {
    height: 124px;
    width: 36px;
  }

  .services__wrap {
    padding: 120px 0px;
  }

  .services-header {
    margin-bottom: 150px;
  }

  .services-header__title {
    font-size: 64px;
    line-height: 64px;
  }

  .services-header__logo {
    top: 85px;
  }

  .services-header__logo-img {
    width: 313px;
    height: 114px;
  }

  .services-list {
    padding: 0px;
  }

  .services-item__title {
    font-size: 24px;
    line-height: 26px;
  }

  .services-item__desc {
    padding: 0px;
  }

  .services-item__list-item {
    font-size: 14px;
    line-height: 20px;
  }

  .services-picture {
    width: 203px;
    height: 264px;
    right: 24px;
    transform: translateY(-60%);
  }

  .price-header {
    margin-bottom: 100px;
  }

  .price-header__title {
    font-size: 64px;
    line-height: 64px;
  }

  .price-header__logo {
    top: 80px;
  }

  .price-header__logo-img {
    width: 270px;
    height: 142px;
  }

  .price-content .container {
    padding: 0;
  }

  .price-content__wrap {
    grid-template-columns: 1fr;
    transform: translateY(0px);
  }

  .price-block {
    padding-right: 0px;
    padding-bottom: 48px;
  }

  .price-block:first-child {
    padding-right: 0px;
  }

  .price-block__wrap {
    border-left: none;
    gap: 0;
  }

  .price-block__header {
    background: #0f0f0e;
    padding: 72px 64px 0px;
    transform: translateY(-1px);
  }

  .price-block__title-wrap {
    border-left: 1px solid rgba(193, 153, 91, 0.2);
    padding-bottom: 16px;
  }

  .price-block__title {
    font-size: 32px;
    line-height: 35px;
  }

  .price-block__logo-icon {
    height: 65px;
    width: 130px;
  }

  .price-block__info {
    padding-bottom: 40px;
    border-left: 1px solid rgba(193, 153, 91, 0.2);
  }

  .price-desc {
    padding: 40px 0 0 32px;
    margin: 0px 64px;
    border-left: 1px solid rgba(193, 153, 91, 0.2);
  }

  .price-desc__title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
  }

  .price .section-link {
    padding-left: 150px;
  }

  .team__wrap {
    padding: 120px 110px;
  }

  .team-header {
    margin-bottom: 150px;
  }

  .team-header__title {
    font-size: 64px;
    line-height: 64px;
  }

  .team-header__logo {
    top: 30px;
  }

  .team-header__logo-img {
    width: 496px;
    height: 114px;
  }

  .team-item__title {
    font-size: 24px;
    line-height: 26px;
  }

  .team-list {
    padding: 0px;
  }

  .team-list__item:first-child {
    padding-top: 32px;
  }

  .team-image__img {
    width: 203px;
    height: 264px;
    right: 64px;
    bottom: 50%;
  }

  .consultation-header__title {
    font-size: 46px;
    line-height: 46px;
  }

  .consultation-header__logo {
    top: 70px;
  }

  .consultation-header__logo--expert {
    top: 15px;
  }

  .notfound-content__logo {
    padding-top: 66px;
  }

  .notfound-notation {
    top: 180px;
  }
}

@media screen and (max-width: 1024px) {
  .preview-logo__img {
    height: max-content;
  }

  .preview-desc {
    width: 100%;
    font-size: 66px;
    line-height: 66px;
  }

  .preview-title {
    top: 165px;
  }

  .preview-title__img {
    width: 454px;
    height: 245px;
  }

  .preview-image__wrap {
    background-position: center;
  }

  .preview-image__small-img:first-child {
    width: 204px;
    height: 264px;
    bottom: 70%;
  }

  .preview-image__small-img:nth-child(2) {
    width: 203px;
    height: 264px;
    bottom: 10%;
  }

  .preview-image__small-img:nth-child(3) {
    width: 130px;
    height: 165px;
    bottom: 20%;
  }

  .about-header__title {
    font-size: 64px;
    line-height: 64px;
  }

  .cases__wrap {
    background: linear-gradient(to bottom, #ffffff 80%, #0f0f0e 50%);
  }

  .cases-header {
    padding: 120px 0px 180px;
    margin-right: 64px;
  }

  .cases-swiper {
    padding-right: 64px;
    transform: translateY(0px);
  }

  .cases-slide__wrap {
    grid-template-columns: 1fr;
    gap: 0px;
    border-left: none;
  }

  .cases-desc {
    height: 340px;
    grid-column: unset;
    grid-row: 1;
    margin-bottom: 40px;
    border-left: 1px solid rgba(193, 153, 91, 0.2);
    padding-right: 0;
  }

  .cases-desc__header {
    margin-bottom: 24px;
  }

  .cases-desc__list {
    gap: 4px;
  }

  .cases-img {
    grid-column: unset;
    grid-row: 2;
    height: 390px;
  }

  .cases-nav {
    grid-column: unset;
    grid-row: 3;
    padding: 32px 0 0;
  }

  .cases-picture {
    transform: translateY(-70%);
    left: 64px;
  }

  .cases-basement {
    display: none;
  }

  .contacts__wrap {
    padding-bottom: 100px;
  }

  .contacts-header {
    margin-bottom: 150px;
  }

  .contacts-header__title {
    font-size: 64px;
    line-height: 64px;
  }

  .contacts-header__logo {
    top: 30px;
  }

  .contacts-header__logo-img {
    width: 333px;
    height: 107px;
  }

  .contacts-block__desc {
    font-size: 20px;
    line-height: 22px;
  }

  .reasons-header {
    margin-bottom: 150px;
  }

  .reasons-header__title {
    font-size: 64px;
    line-height: 64px;
    max-width: 640px;
  }

  .reasons-header__logo-img {
    width: 350px;
    height: 123px;
  }

  .reasons-list {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .reasons-item {
    gap: 16px;
  }

  .reasons-item__title {
    font-size: 32px;
    line-height: 32px;
    height: 52px;
  }

  .solution-image {
    height: 60vh;
  }

  .solution-image__img {
    width: 203px;
    height: 264px;
  }

  .services-arrow {
    transform: translate(-50%, -30%);
  }

  .team__wrap {
    padding: 120px 0px;
  }

  .team-image {
    height: 60vh;
  }

  .team-image__img {
    bottom: 0%;
  }

  .consultation__wrap {
    gap: 120px;
    margin-bottom: 120px;
  }

  .consultation-header__title--expert {
    max-width: 425px;
  }

  .consultation-header__title--narrow {
    max-width: 615px;
  }

  .consultation-header__logo {
    top: 100px;
  }

  .consultation-header__logo--expert {
    top: 55px;
  }

  .consultation .callback-form {
    max-width: 416px;
  }

  .consultation-image {
    height: 80vh;
  }

  .agreement__wrap {
    max-width: 567px;
    padding: 64px 72px;
  }

  .agreement-content__title {
    font-size: 32px;
    line-height: 35px;
  }

  .callback-form__input-block {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .callback-form__notation {
    flex-direction: column;
  }

  .callback-form__agreement {
    width: auto;
  }

  .callback-form .section-link {
    width: auto;
  }

  .callback-modal__title {
    font-size: 46px;
    line-height: 46px;
  }

  .callback-modal__notation {
    font-size: 16px;
    line-height: 22px;
  }

  .callback-modal .callback-success__text {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1023px) {
  .footer__wrap {
    flex-direction: column;
    gap: 12px;
  }

  .footer-box {
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .preview-info {
    height: 75vh;
  }

  .reasons-header__logo {
    top: 220px;
  }

  .notfound-content__logo {
    padding-top: 200px;
  }

  .notfound-content__logo-img {
    width: 493px;
    height: 218px;
  }

  .notfound-notation {
    top: 330px;
  }

  .notfound-notation__text {
    font-size: 16px;
    line-height: 22px;
  }

  .callback-modal__form-wrap {
    max-width: 567px;
    padding: 64px 72px;
  }
}

@media screen and (max-width: 767px) {
  main {
    gap: 80px;
  }

  .container {
    padding: 0px 24px;
  }

  .section-link__title {
    font-size: 14px;
    line-height: 17px;
  }

  .menu-block .menu-block__wrap .callback-btn {
    display: none;
  }

  .menu-block .menu-block__wrap .menu-content {
    padding-top: 50px;
  }

  .menu-block .menu-block__wrap .menu-content .navbar-list {
    align-items: center;
  }

  .menu-block .menu-block__wrap .menu-content .navbar-list__item {
    font-size: 24px;
    line-height: 26px;
  }

  .menu-block .menu-block__wrap .menu-content .menu-communications {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .menu-block .menu-block__wrap .menu-content .menu-communications .callback-btn {
    display: flex;
  }

  .menu-block .menu-block__wrap .menu-content .menu-contacts {
    display: none;
  }

  .menu-block .menu-block__wrap .menu-footer {
    display: none;
  }

  .header .callback-btn {
    display: none;
  }

  .preview-logo__img {
    position: absolute;
    top: 0;
    left: 0;
  }

  .preview-info {
    height: 70vh;
  }

  .preview-raiting__tooltip-title {
    display: none;
  }

  .preview-desc {
    font-size: 48px;
    line-height: 48px;
    top: 40px;
  }

  .preview-title {
    top: 210px;
  }

  .preview-title__img {
    width: 256px;
    height: 138px;
  }

  .preview-image__wrap {
    clip-path: circle(180px);
    border-radius: 0% 0% 0% 0%;
    clip-path: circle(30%);
  }

  .preview-image__small-img:first-child {
    width: 156px;
    height: 202px;
  }

  .preview-image__small-img:nth-child(2) {
    width: 98px;
    height: 127px;
  }

  .preview-image__small-img:nth-child(3) {
    width: 98px;
    height: 127px;
  }

  .about-header {
    margin-bottom: 150px;
  }

  .about-header__section-title {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 17px;
  }

  .about-header__separator {
    height: 40px;
  }

  .about-header__title {
    font-size: 44px;
    line-height: 44px;
  }

  .about-header__logo-title {
    top: 100px;
  }

  .about-header__title-img {
    width: 223px;
    height: 120px;
  }

  .about-list__block {
    grid-template-columns: 1fr;
  }

  .about-list__desc {
    font-size: 14px;
    line-height: 20px;
  }

  .about-list__images {
    transform: translateX(-24px);
  }

  .about-list__small-img {
    transform: translate(31%, 60%);
    width: 155px;
    height: 200px;
  }

  .about-arrow {
    display: none;
  }

  .amateur-header {
    margin-bottom: 100px;
  }

  .amateur-header__title {
    font-size: 32px;
    line-height: 32px;
    max-width: 430px;
  }

  .amateur-header__img {
    width: 247px;
    height: 73px;
  }

  .amateur-list {
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 40px;
  }

  .amateur-item {
    padding-right: 0;
  }

  .amateur-item__num {
    font-size: 18px;
    line-height: 20px;
  }

  .amateur-item__desc {
    font-size: 18px;
    line-height: 20px;
  }

  .amateur-notation__arrow {
    top: 40px;
  }

  .amateur-notation__arrow-img {
    width: 120px;
    height: 70px;
  }

  .amateur .section-link__wrap {
    margin-right: 0;
  }

  .cases-header {
    margin-right: 24px;
    padding: 80px 0px 115px;
  }

  .cases-header__title {
    font-size: 44px;
    line-height: 44px;
    max-width: 400px;
  }

  .cases-header__logo {
    top: 135px;
  }

  .cases-header__logo-img {
    width: 223px;
    height: 98px;
  }

  .cases-swiper {
    padding-right: 24px;
  }

  .cases-desc {
    margin-bottom: 24px;
  }

  .cases-desc__header {
    margin-bottom: 16px;
  }

  .cases-desc__title {
    font-size: 18px;
    line-height: 20px;
  }

  .cases-desc__text {
    font-size: 12px;
    line-height: 16px;
  }

  .cases-desc__item-title {
    font-size: 12px;
    line-height: 16px;
  }

  .cases-desc__item-value {
    font-size: 12px;
    line-height: 16px;
  }

  .cases-img {
    height: 200px;
  }

  .cases-img__pagination {
    bottom: 16px;
  }

  .cases-img__pagination-item {
    width: 6px;
    height: 6px;
  }

  .cases-nav {
    padding: 16px 0 0;
  }

  .cases-picture {
    width: 98px;
    height: 128px;
    left: 24px;
  }

  .contacts__wrap {
    padding-bottom: 60px;
  }

  .contacts-header {
    margin-bottom: 100px;
  }

  .contacts-header__title {
    font-size: 44px;
    line-height: 44px;
  }

  .contacts-header__logo {
    top: 20px;
  }

  .contacts-header__logo-img {
    width: 239px;
    height: 77px;
  }

  .contacts-block__title {
    font-size: 12px;
    line-height: 16px;
  }

  .contacts-block__desc {
    font-size: 18px;
    line-height: 20px;
  }

  .reasons-header__title {
    font-size: 42px;
    line-height: 42px;
    max-width: 450px;
  }

  .reasons-header__logo {
    top: 140px;
  }

  .reasons-header__logo-img {
    width: 294px;
    height: 104px;
  }

  .reasons-list {
    gap: 32px;
  }

  .reasons-item__title {
    font-size: 18px;
    line-height: 20px;
    height: auto;
  }

  .reasons-item__elem {
    font-size: 14px;
    line-height: 20px;
  }

  .reasons-item__note-elem {
    font-size: 12px;
    line-height: 16px;
  }

  .reasons-item__tooltip-desc {
    width: 180px;
  }

  .reasons-item__info {
    font-size: 12px;
    line-height: 16px;
  }

  .solution {
    background: #ffffff;
  }

  .solution .container {
    background: linear-gradient(to bottom, #ffffff 50%, #f3eee8 50%);
  }

  .solution__wrap {
    grid-template-columns: 1fr;
    padding: 80px 0px;
    gap: 160px;
  }

  .solution-item {
    padding: 0px;
    gap: 50px;
  }

  .solution-item:nth-child(2) {
    border-right: none;
  }

  .solution-item__title {
    font-size: 18px;
    line-height: 20px;
  }

  .solution-item__list-item {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
  }

  .solution-item .solution-title {
    display: block;
    position: static;
  }

  .solution-title {
    display: none;
  }

  .solution-image__img {
    width: 98px;
    height: 126px;
  }

  .services__wrap {
    padding: 80px 0px;
  }

  .services-header {
    margin-bottom: 93px;
  }

  .services-header__title {
    font-size: 44px;
    line-height: 44px;
    max-width: 350px;
  }

  .services-header__logo {
    top: 140px;
  }

  .services-header__logo-img {
    width: 233px;
    height: 85px;
  }

  .services-item__title {
    font-size: 18px;
    line-height: 20px;
  }

  .services-item__desc {
    gap: 16px;
  }

  .services-item__desc-box:first-child {
    padding-top: 24px;
  }

  .services-item__desc-box {
    gap: 16px;
  }

  .services-item__text {
    font-size: 14px;
    line-height: 20px;
  }

  .services-item__desc-title {
    font-size: 14px;
    line-height: 20px;
  }

  .services-picture {
    display: none;
  }

  .price-header {
    margin-bottom: 70px;
  }

  .price-header__title {
    font-size: 44px;
    line-height: 44px;
    max-width: 400px;
  }

  .price-header__logo {
    top: 60px;
  }

  .price-header__logo-img {
    width: 194px;
    height: 102px;
  }

  .price-block__header {
    padding: 48px 24px 0px;
  }

  .price-block__title-wrap {
    padding-bottom: 8px;
  }

  .price-block__title {
    font-size: 24px;
    line-height: 26px;
    padding-left: 24px;
  }

  .price-block__logo-icon {
    height: 47px;
    width: 94px;
  }

  .price-block__info {
    font-size: 12px;
    line-height: 16px;
    padding-left: 24px;
    padding-bottom: 24px;
  }

  .price-desc {
    padding: 24px 0 0 24px;
    margin: 0px 24px;
    gap: 24px;
  }

  .price-desc__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }

  .price-desc__title-icon {
    display: block;
  }

  .price-desc__elem-box {
    padding-left: 0px;
    max-height: 0px;
    transition: 0.3s ease-in-out;
    overflow: hidden;
  }

  .price-desc__item {
    font-size: 12px;
    line-height: 16px;
  }

  .price-desc__text {
    font-size: 12px;
    line-height: 16px;
  }

  .price .section-link {
    padding-left: 40px;
  }

  .team__wrap {
    padding: 80px 0px 0px;
    min-height: 110vh;
  }

  .team-header {
    margin-bottom: 90px;
  }

  .team-header__title {
    font-size: 44px;
    line-height: 44px;
    max-width: 370px;
  }

  .team-header__logo {
    width: 292px;
    height: 67px;
    top: 65px;
  }

  .team-header__logo-img {
    width: 292px;
    height: 67px;
  }

  .team-item__title {
    font-size: 18px;
    line-height: 20px;
  }

  .team-list__item:first-child {
    padding-top: 24px;
  }

  .team-list__desc {
    font-size: 14px;
    line-height: 20px;
  }

  .team-image__img {
    width: 155px;
    height: 200px;
    right: 24px;
  }

  .consultation__wrap {
    gap: 100px;
    margin-bottom: 80px;
  }

  .consultation-header__title {
    font-size: 32px;
    line-height: 32px;
  }

  .consultation-header__title--narrow {
    max-width: 400px;
  }

  .consultation-header__logo--expert {
    top: 40px;
  }

  .consultation-header__logo-img {
    width: 251px;
    height: 81px;
  }

  .consultation .callback-form {
    max-width: 100%;
  }

  .notfound-content__logo {
    padding-top: 100px;
  }

  .notfound-content__logo-img {
    width: 327px;
    height: 145px;
  }

  .notfound-notation {
    top: 150px;
  }

  .notfound-notation__title {
    margin-bottom: 24px;
  }

  .notfound-notation__title-img {
    width: 276px;
    height: 110px;
  }

  .notfound-notation__text {
    font-size: 14px;
    line-height: 20px;
  }

  .agreement {
    overflow: auto;
  }

  .agreement__wrap {
    max-width: 327px;
    padding: 32px 24px;
    margin-top: 300px;
    margin-bottom: 100px;
    overflow: auto;
  }

  .agreement-content__title {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 24px;
  }

  .agreement-content__text {
    font-size: 14px;
    line-height: 20px;
  }

  .agreement-content__item {
    font-size: 14px;
    line-height: 20px;
  }

  .callback-form__input-block {
    gap: 8px;
  }

  .callback-form__input {
    font-size: 14px;
    line-height: 20px;
  }

  .callback-form__select-current {
    font-size: 14px;
    line-height: 20px;
  }

  .callback-form__option {
    font-size: 14px;
    line-height: 20px;
  }

  .callback-form .agreement-link {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }

  .callback-modal__form-wrap {
    padding: 32px 24px;
    max-width: 327px;
  }

  .callback-modal__header {
    margin-bottom: 24px;
  }

  .callback-modal__title {
    font-size: 32px;
    line-height: 32px;
  }

  .callback-modal__notation {
    font-size: 14px;
    line-height: 20px;
  }

  .callback-modal .callback-success {
    padding: 40px 24px;
  }

  .callback-modal .callback-success__text {
    font-size: 14px;
    line-height: 20px;
  }

  .cookie-block__box {
    width: 100%;
    padding: 16px;
  }

  .cookie-block__text {
    font-size: 12px;
    line-height: 16px;
  }

  .cookie-block .agreement-link {
    font-size: 12px;
    line-height: 16px;
    white-space: unset;
    text-align: start;
  }
}