@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Thin.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-ExtraBold.woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Black.woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../assets/fonts/Inter_Tight/InterTight-Thin.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../assets/fonts/Inter_Tight/InterTight-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../assets/fonts/Inter_Tight/InterTight-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../assets/fonts/Inter_Tight/InterTight-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../assets/fonts/Inter_Tight/InterTight-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../assets/fonts/Inter_Tight/InterTight-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../assets/fonts/Inter_Tight/InterTight-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../assets/fonts/Inter_Tight/InterTight-ExtraBold.woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Inter Tight";
  src: url("../assets/fonts/Inter_Tight/InterTight-Black.woff2");
  font-weight: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  outline: none;
}

button {
  white-space: nowrap;
  cursor: pointer;
  background-color: transparent;
}

img,
video {
  width: 100%;
  display: block;
  border-style: none;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #f4f4f8;
  min-width: 360px;
}

.main.main-page {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.main {
  margin-bottom: 100px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 75px;
}

.page-title {
  margin-bottom: 70px;
  color: #212121;
  font-family: "Inter Tight", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.62px;
}

.section__title {
  margin-bottom: 70px;
  text-align: center;
  color: #212121;
  font-family: "Inter Tight", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: -1.62px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 13px;
}

.callback-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.callback-modal.show {
  display: block;
}

.callback-modal__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(41, 41, 41, 0.2196078431);
  animation: callbackFade 0.3s ease-in-out;
}

@keyframes callbackFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.callback-success {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 408px;
  height: 350px;
  border-radius: 28px;
  background-color: #f4f4f8;
}

.callback-success.show {
  display: flex;
}

.callback-success .callback-form__close {
  position: absolute;
  top: 32px;
  right: 32px;
}

.callback-success__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 250px;
  text-align: center;
}

.callback-success__icon-warp {
  width: 80px;
  height: 80px;
}

.callback-success__text {
  color: #212121;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 40px 0 26px;
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: 0.3s ease-in-out;
}

.breadcrumbs__item {
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: 0.3s ease-in-out;
}

.breadcrumbs__item:not(:last-child):hover {
  color: #212121;
}

.breadcrumbs__item:last-child {
  color: #9c9c9c;
}

.filter-chips {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
  margin-bottom: 60px;
  list-style: none;
}

.filter-chips__item {
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #7b7b7b;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.filter-chips__item:hover {
  color: #a5df45;
  background-color: #161e28;
}

.filter-chips__item.active {
  color: #a5df45;
  background-color: #161e28;
}

.header__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.header .callback-btn {
  padding: 18px 29px;
  border-radius: 50px;
  background-color: #292929;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: 0.3s ease-in-out;
}

.header .callback-btn:hover {
  background-color: #4d4c4c;
}

.logo {
  flex-shrink: 0;
}

.navbar__list {
  display: flex;
  gap: 57px;
  list-style: none;
}

.navbar__link {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  transition: 0.3s ease-in-out;
}

.navbar__link:hover {
  color: #7b7b7b;
}

.navbar .callback-btn {
  display: none;
}

.user-block {
  display: flex;
  align-items: center;
  gap: 43px;
}

.language-select {
  position: relative;
}

.language-select__btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 14px;
  border-radius: 50px;
  background-color: #ffffff;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s ease-in-out;
}

.language-select__btn:hover {
  color: #7b7b7b;
}

.language-select__current {
  width: 25px;
  flex-shrink: 0;
}

.language-options {
  display: none;
  position: absolute;
  top: 46px;
  right: 0px;
  width: 168px;
  z-index: 9;
}

.language-options.show {
  display: block;
}

.language-options.show .language-options__list {
  animation: languageOptionsShow 0.3s ease-in-out;
}

@keyframes languageOptionsShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.language-options__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 14px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.04), 0px 4px 8px 0px rgba(0, 0, 0, 0.06);
  list-style: none;
}

.language-options__item {
  padding: 6px 10px;
  border-radius: 8px;
}

.language-options__item:hover {
  background-color: #f3ffdf;
}

.language-options__item-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: 0.3s ease-in-out;
}

.language-options__item-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  overflow: hidden;
}

.burger-menu.active .burger-menu__item:nth-child(1) {
  transform: translate(6px, 6px);
  rotate: 45deg;
}

.burger-menu.active .burger-menu__item:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}

.burger-menu.active .burger-menu__item:nth-child(3) {
  transform: translate(5px, -5px);
  rotate: -45deg;
}

.burger-menu__item {
  position: relative;
  width: 24px;
  height: 2px;
  border-radius: 30px;
  background: #292929;
  transition: 0.3s ease-in-out;
}

.burger-menu__item:nth-child(2) {
  width: 16px;
  transform: translateX(3px);
}

.footer__wrap {
  display: flex;
  gap: 126px;
  padding: 50px;
  border-radius: 50px;
  background: #161e28;
  margin-bottom: 80px;
}

.footer__left-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: max-content;
}

.footer__left-box .logo {
  width: 109px;
  height: 86px;
  flex-shrink: 0;
}

.footer__copyright {
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.footer__rigth-box {
  width: 100%;
}

.footer-header {
  display: flex;
  gap: 176px;
}

.footer-nav {
  flex-grow: 1;
}

.footer-nav__title {
  margin-bottom: 20px;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-nav__list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4d4c4c;
  padding-bottom: 36px;
}

.footer-nav__list-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-nav__item {
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  transition: 0.3s ease-in-out;
}

.footer-nav__item:hover {
  color: #7b7b7b;
}

.footer-basement {
  display: flex;
  align-items: flex-end;
  gap: 126px;
}

.footer-basement__box {
  padding-top: 36px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.footer-basement .footer-nav__list-box {
  flex-direction: row;
}

.callback-form {
  position: relative;
  width: 630px;
  padding: 36px;
  border-radius: 28px;
  background-color: #f4f4f8;
}

.callback-form.hidden {
  display: none;
}

.callback-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.callback-form__title {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.callback-form__inputs-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 24px;
}

.callback-form__contact-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.callback-form__contact-label {
  margin-bottom: 8px;
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.callback-form__contact-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.callback-form__contact-item {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.callback-form__contact-item.active .callback-form__contact-icon path:first-child {
  display: block;
}

.callback-form__contact-item.active .callback-form__contact-title {
  color: #212121;
}

.callback-form__contact-icon path:first-child {
  display: none;
}

.callback-form__contact-title {
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.callback-form__contact-radio {
  display: none;
}

.callback-form__item {
  padding: 16px 14px;
  border-radius: 12px;
  border: 1px solid rgba(199, 199, 199, 0.6);
  background-color: #ffffff;
}

.callback-form__item.error {
  border: 1px solid #f44336;
}

.callback-form__item-input {
  width: 100%;
  background-color: #ffffff;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.callback-form__item-input::placeholder {
  color: #7b7b7b;
}

.callback-form__item-textarea {
  resize: none;
  width: 100%;
  height: 68px;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.callback-form__item-textarea::placeholder {
  color: #7b7b7b;
}

.callback-form__elem .callback-form__item {
  margin-bottom: 12px;
}

.callback-form__attachment {
  display: flex;
}

.callback-form__attachment.active .callback-form__attachment-btn {
  display: none;
}

.callback-form__attachment.active .callback-form__attachment-file {
  display: flex;
}

.callback-form__attachment-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-bottom: 4px;
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px dashed #7b7b7b;
  cursor: pointer;
}

.callback-form__attachment-icon {
  width: 14px;
  height: 14px;
}

.callback-form__attachment-file {
  flex-grow: 1;
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding-bottom: 5px;
}

.callback-form__attachment-input {
  display: none;
}

.callback-form__attachment-item {
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
}

.callback-form__attachment-del {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
}

.callback-form__submit {
  width: 100%;
  margin-bottom: 8px;
  padding: 15px;
  border-radius: 50px;
  background: #292929;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s ease-in-out;
}

.callback-form__submit:hover {
  background: #4d4c4c;
}

.callback-form__agreement-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.callback-form__agreement-box.error .callback-form__check {
  border: 1px solid #f44336;
}

.callback-form__agreement-box.active .callback-form__check {
  border: 1px solid #7b7b7b;
}

.callback-form__agreement-box.active .callback-form__check-icon {
  opacity: 1;
}

.callback-form__check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 1px solid rgba(199, 199, 199, 0.6);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.callback-form__check-input {
  display: none;
}

.callback-form__check-icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.callback-form__check-desc {
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.callback-form__close {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.main-page .cases-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 30px;
}

.main-page .cases-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 15px 15px 32px;
  border-radius: 30px;
  background: #ffffff;
}

.main-page .cases-card:hover .cases-card__img {
  transform: scale(1.1);
}

.main-page .cases-card__img-wrap {
  height: 590px;
  border-radius: 30px;
  overflow: hidden;
}

.main-page .cases-card__img {
  border-radius: 30px;
  height: inherit;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease-in-out;
}

.main-page .cases-card__img:hover {
  transform: scale(1.1);
}

.main-page .cases-card__platforms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.main-page .cases-card__platforms-item {
  padding: 6px 12px;
  border-radius: 20px;
  background: #f5f5f5;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.main-page .cases-card__desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.main-page .cases-card__desc:hover .cases-card__desc-title {
  color: #7b7b7b;
}

.main-page .cases-card__desc-title {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}

.main-page .cases-card__desc-text {
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.main-page .services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.main-page .services-item {
  background: #ffffff;
  border-radius: 36px;
  transition: 0.3s ease-in-out;
}

.main-page .services-item:hover {
  background: #161e28;
}

.main-page .services-item:hover .services-item__title {
  color: #f5f5f5;
}

.main-page .services-item:hover .services-item__desc-item {
  color: #f5f5f5;
}

.main-page .services-item:hover .services-item__arrow-icon g path:first-child {
  stroke: #f5f5f5;
}

.main-page .services-item:hover .services-item__arrow-icon g path:last-child {
  fill: #f5f5f5;
}

.main-page .services-item:first-child {
  grid-column: span 2;
}

.main-page .services-item__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 240px;
  padding: 35px;
}

.main-page .services-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.main-page .services-item .services-item__arrow-icon {
  flex-shrink: 0;
}

.main-page .services-item .services-item__arrow-icon g path {
  transition: 0.3s ease-in-out;
}

.main-page .services-item__title {
  color: #212121;
  font-family: "Inter Tight", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s ease-in-out;
}

.main-page .services-item__desc-item {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  transition: 0.3s ease-in-out;
}

.main-page .platforms-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.main-page .clients-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.main-page .clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 30px;
  height: 134px;
}

.main-page .clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  height: 134px;
}

.main-page .clients-link:hover .clients-link__title {
  color: #7b7b7b;
}

.main-page .clients-link:hover .clients-link__arrow-icon path {
  fill: #7b7b7b;
}

.main-page .clients-link__box {
  display: flex;
  align-items: center;
}

.main-page .clients-link__title {
  min-width: max-content;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  transition: 0.3s ease-in-out;
}

.main-page .clients-link__arrow-icon path {
  transition: 0.3s ease-in-out;
}

.main-page .preview__wrap {
  position: relative;
  height: 570px;
  border-radius: 60px;
  overflow: hidden;
  background: linear-gradient(150deg, rgb(22, 30, 40), rgb(33, 54, 80));
}

.main-page .preview__circle:nth-child(1) {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 400px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(325deg, rgb(17, 93, 145), rgba(165, 223, 69, 0.5));
  filter: blur(80px);
  animation: previewFirstCircle 7s infinite;
}

.main-page .preview__circle:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(325deg, rgb(12, 46, 68), rgba(66, 118, 171, 0.5));
  filter: blur(80px);
  animation: previewSecondCircle 5s infinite;
}

.main-page .preview__circle:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 800px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(150deg, rgb(23, 45, 71), rgba(95, 180, 99, 0.5));
  filter: blur(80px);
  animation: previewThirdCircle 10s infinite;
}

@keyframes previewFirstCircle {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(30%, 25%);
  }
}

@keyframes previewSecondCircle {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(-30%, -25%);
  }
}

@keyframes previewThirdCircle {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(30%, -25%);
  }
}

.main-page .preview-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}

.main-page .preview-content__wrap {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.main-page .preview-list {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.main-page .preview-list__item {
  padding: 14px 20px;
  border-radius: 30px;
  border: 1.5px solid #a5df45;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.main-page .preview__title {
  text-align: center;
  color: #f5f5f5;
  font-family: "Inter Tight", sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px;
}

.main-page .ratings__wrap {
  position: relative;
  min-height: 550px;
  border-radius: 60px;
  overflow: hidden;
  background: linear-gradient(150deg, rgb(22, 30, 40), rgb(33, 54, 80));
}

.main-page .ratings__circle:nth-child(1) {
  position: absolute;
  top: 10%;
  width: 800px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(150deg, rgb(23, 45, 71), rgba(95, 180, 99, 0.5));
  filter: blur(80px);
  animation: ratingsFirstCircle 8s infinite;
}

.main-page .ratings__circle:nth-child(2) {
  position: absolute;
  top: 10%;
  right: 0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(325deg, rgb(12, 46, 68), rgba(78, 111, 133, 0.5));
  filter: blur(80px);
  animation: ratingsSecondCircle 12s infinite;
}

.main-page .ratings__circle:nth-child(3) {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(325deg, rgb(17, 93, 145), rgba(165, 223, 69, 0.5));
  filter: blur(80px);
  animation: ratingsThirdCircle 15s infinite;
}

@keyframes ratingsFirstCircle {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(30%, 25%);
  }
}

@keyframes ratingsSecondCircle {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(-30%, -25%);
  }
}

@keyframes ratingsThirdCircle {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(30%, -25%);
  }
}

.main-page .ratings-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}

.main-page .ratings-content__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 63px 60px;
}

.main-page .ratings__title {
  text-align: center;
  color: #f5f5f5;
  font-family: "Inter Tight", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: -1.62px;
}

.main-page .ratings-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.main-page .ratings-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 25px;
  min-height: 227px;
  border-radius: 36px;
  background: rgba(23, 31, 40, 0.5);
  backdrop-filter: blur(16.5px);
}

.main-page .ratings-item__header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  border-radius: 20px;
  border: 1px solid #a5df45;
}

.main-page .ratings-item__like-wrap {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
}

.main-page .ratings-item__title {
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

.main-page .ratings-item__value {
  display: flex;
  align-items: baseline;
  gap: 8px;
  color: #a5df45;
  font-family: "Inter Tight", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.main-page .ratings-item__value--big {
  font-size: 56px;
  line-height: 40px;
}

.main-page .ratings-item__text {
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.main-page .ratings__link {
  position: relative;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6px;
}

.main-page .ratings__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  height: 1px;
  width: 100%;
  background-color: #f5f5f5;
}

.contacts-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding: 36px 36px 45px;
  border-radius: 28px;
  background: #ffffff;
}

.contacts-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contacts-box__item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contacts-box__label {
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.contacts-box__link {
  color: #212121;
  font-family: "Inter Tight", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}

.contacts-box__link-icon {
  width: 50px;
  height: 50px;
}

.contacts-details {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.contacts-details__label {
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.contacts-details__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.contacts-details__item {
  color: #212121;
  font-family: "Inter Tight", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.contacts-details__item.hidden {
  display: none;
}

.contacts-details__open-btn {
  width: min-content;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.contacts .callback-form {
  background-color: #ffffff;
}

.achievements .achievements-list {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 29px;
}

.achievements .achievements-list.active {
  display: grid;
}

.achievements .achievements-card {
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 690px;
}

.achievements .achievements-card__img-wrap {
  height: 580px;
}

.achievements .achievements-card__img {
  height: inherit;
  object-fit: cover;
  object-position: center;
  border-radius: 28px;
}

.achievements .achievements-card__title {
  margin-bottom: 6px;
  color: #212121;
  font-family: "Inter Tight", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

.achievements .achievements-card__desc {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.case-about .stack-list {
  display: flex;
  gap: 6px;
  list-style: none;
  margin-bottom: 50px;
}

.case-about .stack-list__item {
  padding: 14px 25px;
  border-radius: 30px;
  border: 1px solid rgba(199, 199, 199, 0.6);
  background: #ffffff;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.case-about .case-swiper {
  margin-bottom: 70px;
  height: 690px;
}

.case-about .case-swiper__img {
  border-radius: 30px;
}

.case-about .case-swiper .swiper-button-next,
.case-about .case-swiper .swiper-button-prev {
  width: 50px;
  height: 50px;
}

.case-about .case-swiper .swiper-button-next {
  right: 60px;
}

.case-about .case-swiper .swiper-button-prev {
  left: 60px;
}

.case-about .case-swiper .swiper-button-next:after,
.case-about .case-swiper .swiper-button-prev:after {
  content: "";
}

.case-about .case-swiper .swiper-pagination {
  bottom: 0px !important;
}

.case-about .case-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #7b7b7b;
}

.case-about .case-swiper .swiper-pagination-bullet-active {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background: #4d4c4c !important;
}

.case-about .case-swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0.7;
}

.case-about .case-descr {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-bottom: 144px;
}

.case-about .descr-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.case-about .descr-item__title {
  color: #212121;
  font-family: "Inter Tight", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
}

.case-about .descr-item__info-box {
  grid-column: span 4;
}

.case-about .descr-item__text {
  padding-right: 190px;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.case-about .descr-item__technologies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.case-about .descr-item__technology {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 110px;
  border-radius: 20px;
  background: #ffffff;
}

.case-about .descr-item__technology-wrap {
  max-height: 60px;
  max-width: 120px;
}

.case-about .descr-item__technology-img {
  max-height: inherit;
  max-width: inherit;
}

.case-about .descr-item__achievements-list {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.case-about .descr-item__achieve {
  display: flex;
  align-items: center;
  gap: 10px;
}

.case-about .descr-item__achieve:hover .descr-item__achieve-text {
  color: #4d4c4c;
}

.case-about .descr-item__achieve-logo {
  flex-shrink: 0;
}

.case-about .descr-item__achieve-img {
  max-height: 60px;
}

.case-about .descr-item__achieve-info {
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-width: 329px;
}

.case-about .descr-item__achieve-title {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.case-about .descr-item__achieve-text {
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration-line: underline;
  transition: 0.3s ease-in-out;
}

.another-cases .cases-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 15px 15px 20px;
  border-radius: 20px;
  background: #ffffff;
}

.another-cases .cases-card:hover .cases-card__img {
  transform: scale(1.1);
}

.another-cases .cases-card__img-wrap {
  height: 360px;
  border-radius: 20px;
  overflow: hidden;
}

.another-cases .cases-card__img {
  border-radius: 20px;
  height: inherit;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease-in-out;
}

.another-cases .cases-card__img:hover {
  transform: scale(1.1);
}

.another-cases .cases-card__platforms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.another-cases .cases-card__platforms-item {
  padding: 6px 12px;
  border-radius: 20px;
  background: #f5f5f5;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.another-cases .cases-card__desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.another-cases .cases-card__desc:hover .cases-card__desc-title {
  color: #7b7b7b;
}

.another-cases .cases-card__desc-title {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}

.another-cases .cases-card__desc-text {
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.another-cases .cases-swiper .swiper-slide {
  height: auto;
}

.cases-page.cases .filter-chips__item.active .filter-chips__item-link {
  color: #a5df45;
}

.cases-page.cases .filter-chips__item:hover .filter-chips__item-link {
  color: #a5df45;
}

.cases-page.cases .filter-chips__item-link {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: 0.3s ease-in-out;
}

.cases-page.cases .cases-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 30px;
}

.cases-page.cases .cases-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 15px 15px 32px;
  border-radius: 30px;
  background: #ffffff;
}

.cases-page.cases .cases-card:hover .cases-card__img {
  transform: scale(1.1);
}

.cases-page.cases .cases-card__img-wrap {
  height: 590px;
  border-radius: 30px;
  overflow: hidden;
}

.cases-page.cases .cases-card__img {
  border-radius: 30px;
  height: inherit;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease-in-out;
}

.cases-page.cases .cases-card__img:hover {
  transform: scale(1.1);
}

.cases-page.cases .cases-card__platforms {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.cases-page.cases .cases-card__platforms-item {
  padding: 6px 12px;
  border-radius: 20px;
  background: #f5f5f5;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.cases-page.cases .cases-card__desc {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.cases-page.cases .cases-card__desc:hover .cases-card__desc-title {
  color: #7b7b7b;
}

.cases-page.cases .cases-card__desc-title {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
}

.cases-page.cases .cases-card__desc-text {
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.clients-page.clients .clients-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.clients-page.clients .clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 30px;
  height: 134px;
}

.clients-page.clients .clients-item.hidden {
  display: none;
}

.web-development .platforms__wrap {
  margin-bottom: 120px;
}

.web-development .platforms-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.web-development .ratings__wrap {
  position: relative;
  min-height: 550px;
  margin-bottom: 120px;
  border-radius: 60px;
  overflow: hidden;
  background: linear-gradient(150deg, rgb(22, 30, 40), rgb(33, 54, 80));
}

.web-development .ratings__circle:nth-child(1) {
  position: absolute;
  top: 10%;
  width: 800px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(150deg, rgb(23, 45, 71), rgba(95, 180, 99, 0.5));
  filter: blur(80px);
  animation: ratingsFirstCircle 8s infinite;
}

.web-development .ratings__circle:nth-child(2) {
  position: absolute;
  top: 10%;
  right: 0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(325deg, rgb(12, 46, 68), rgba(78, 111, 133, 0.5));
  filter: blur(80px);
  animation: ratingsSecondCircle 12s infinite;
}

.web-development .ratings__circle:nth-child(3) {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 400px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(325deg, rgb(17, 93, 145), rgba(165, 223, 69, 0.5));
  filter: blur(80px);
  animation: ratingsThirdCircle 15s infinite;
}

@keyframes ratingsFirstCircle {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(30%, 25%);
  }
}

@keyframes ratingsSecondCircle {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(-30%, -25%);
  }
}

@keyframes ratingsThirdCircle {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(30%, -25%);
  }
}

.web-development .ratings-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}

.web-development .ratings-content__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 63px 60px;
}

.web-development .ratings__title {
  text-align: center;
  color: #f5f5f5;
  font-family: "Inter Tight", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: -1.62px;
}

.web-development .ratings-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.web-development .ratings-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 25px;
  min-height: 227px;
  border-radius: 36px;
  background: rgba(23, 31, 40, 0.5);
  backdrop-filter: blur(16.5px);
}

.web-development .ratings-item__header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 12px;
  border-radius: 20px;
  border: 1px solid #a5df45;
}

.web-development .ratings-item__like-wrap {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
}

.web-development .ratings-item__title {
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

.web-development .ratings-item__value {
  display: flex;
  align-items: baseline;
  gap: 8px;
  color: #a5df45;
  font-family: "Inter Tight", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}

.web-development .ratings-item__value--big {
  font-size: 56px;
  line-height: 40px;
}

.web-development .ratings-item__text {
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.web-development .ratings__link {
  position: relative;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.6px;
}

.web-development .ratings__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  height: 1px;
  width: 100%;
  background-color: #f5f5f5;
}

.web-development .preview__wrap {
  position: relative;
  height: 390px;
  margin-bottom: 120px;
  border-radius: 50px;
  overflow: hidden;
  background: linear-gradient(150deg, rgb(22, 30, 40), rgb(33, 54, 80));
}

.web-development .preview__circle:nth-child(1) {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 400px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(325deg, rgb(17, 93, 145), rgba(165, 223, 69, 0.5));
  filter: blur(80px);
  animation: previewFirstCircle 7s infinite;
}

.web-development .preview__circle:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: linear-gradient(325deg, rgb(12, 46, 68), rgba(66, 118, 171, 0.5));
  filter: blur(80px);
  animation: previewSecondCircle 5s infinite;
}

.web-development .preview__circle:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 800px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(150deg, rgb(23, 45, 71), rgba(95, 180, 99, 0.5));
  filter: blur(80px);
  animation: previewThirdCircle 10s infinite;
}

@keyframes previewFirstCircle {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(30%, 25%);
  }
}

@keyframes previewSecondCircle {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(-30%, -25%);
  }
}

@keyframes previewThirdCircle {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  50% {
    transform: translate(30%, -25%);
  }
}

.web-development .preview-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}

.web-development .preview-content__wrap {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.web-development .preview__title {
  text-align: center;
  color: #f5f5f5;
  font-family: "Inter Tight", sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px;
}

.web-development .preview__descr {
  max-width: 521px;
  color: #f5f5f5;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

.web-development .custom-development__wrap {
  margin-bottom: 120px;
}

.web-development .development-header {
  margin: 0 auto 70px;
  max-width: 630px;
  text-align: center;
}

.web-development .development-header__title {
  margin-bottom: 30px;
  color: #212121;
  font-family: "Inter Tight", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -1.62px;
}

.web-development .development-header__descr {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.web-development .development-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.web-development .development-item {
  display: flex;
  flex-direction: column;
  gap: 67px;
  min-height: 280px;
  padding: 34px;
  border-radius: 48px;
  background: #ffffff;
  transition: 0.3s ease-in-out;
}

.web-development .development-item:hover {
  background: #161e28;
}

.web-development .development-item:hover .development-item__title {
  color: #ffffff;
}

.web-development .development-item__icon-wrap {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.web-development .development-item__title {
  margin-bottom: 10px;
  color: #212121;
  font-family: "Inter Tight", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s ease-in-out;
}

.web-development .development-item__text {
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.web-development .another-services__title {
  margin-bottom: 70px;
  color: #212121;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -1.62px;
}

.web-development .services-swiper .services-item {
  background: #ffffff;
  border-radius: 36px;
  transition: 0.3s ease-in-out;
}

.web-development .services-swiper .services-item:hover {
  background: #161e28;
}

.web-development .services-swiper .services-item:hover .services-item__title {
  color: #f5f5f5;
}

.web-development .services-swiper .services-item:hover .services-item__desc-item {
  color: #f5f5f5;
}

.web-development .services-swiper .services-item:hover .services-item__arrow-icon g path:first-child {
  stroke: #f5f5f5;
}

.web-development .services-swiper .services-item:hover .services-item__arrow-icon g path:last-child {
  fill: #f5f5f5;
}

.web-development .services-swiper .services-item__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 240px;
  padding: 35px;
}

.web-development .services-swiper .services-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.web-development .services-swiper .services-item .services-item__arrow-icon {
  flex-shrink: 0;
}

.web-development .services-swiper .services-item .services-item__arrow-icon g path {
  transition: 0.3s ease-in-out;
}

.web-development .services-swiper .services-item__title {
  color: #212121;
  font-family: "Inter Tight", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s ease-in-out;
}

.web-development .services-swiper .services-item__desc-item {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  transition: 0.3s ease-in-out;
}

.web-development .industries-services__wrap {
  margin-bottom: 120px;
}

.web-development .industries-services__title {
  margin-bottom: 70px;
  color: #212121;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -1.62px;
}

.web-development.industries-services .industries-list {
  display: flex;
  justify-content: space-around;
  gap: 22px;
  list-style: none;
  margin-bottom: 70px;
}

.web-development.industries-services .industries-list__item {
  position: relative;
  padding-left: 20px;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.web-development.industries-services .industries-list__item::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  background: #a5df45;
  width: 10px;
  height: 10px;
  border-radius: 50px;
}

.web-development.industries-services .services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.web-development.industries-services .services-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  min-height: 360px;
  padding: 40px;
  border-radius: 48px;
  border: 1px solid #9c9c9c;
  transition: 0.3s ease-in-out;
}

.web-development.industries-services .services-item:hover {
  background: #ffffff;
  border: 1px solid #ffffff;
}

.web-development.industries-services .services-item__title {
  margin-bottom: 14px;
  color: #212121;
  font-family: "Inter Tight", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.web-development.industries-services .services-item__descr {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.web-development.industries-services .services-item__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-development.industries-services .services-item__link-title {
  padding: 12px 16px;
  border-radius: 60px;
  border: 1px solid #9c9c9c;
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
}

.web-development.industries-services .services-item__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #a5df45;
}

.web-development.industries-services .services-item__icon {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}

.services-page .services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.services-page .services-item {
  background: #ffffff;
  border-radius: 36px;
  transition: 0.3s ease-in-out;
}

.services-page .services-item:hover {
  background: #161e28;
}

.services-page .services-item:hover .services-item__title {
  color: #f5f5f5;
}

.services-page .services-item:hover .services-item__desc-item {
  color: #f5f5f5;
}

.services-page .services-item:hover .services-item__arrow-icon g path:first-child {
  stroke: #f5f5f5;
}

.services-page .services-item:hover .services-item__arrow-icon g path:last-child {
  fill: #f5f5f5;
}

.services-page .services-item:first-child {
  grid-column: span 2;
}

.services-page .services-item__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 240px;
  padding: 35px;
}

.services-page .services-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.services-page .services-item .services-item__arrow-icon {
  flex-shrink: 0;
}

.services-page .services-item .services-item__arrow-icon g path {
  transition: 0.3s ease-in-out;
}

.services-page .services-item__title {
  color: #212121;
  font-family: "Inter Tight", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: 0.3s ease-in-out;
}

.services-page .services-item__desc-item {
  color: #212121;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 1439px) {
  .main.main-page {
    gap: 72px;
  }

  .container {
    max-width: 1024px;
    padding: 0 42px;
  }

  .page-title {
    margin-bottom: 36px;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1.2px;
  }

  .section__title {
    margin-bottom: 36px;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1.2px;
  }

  .socials__item-icon {
    width: 34px;
    height: 34px;
  }

  .filter-chips {
    margin-bottom: 36px;
  }

  .header .callback-btn {
    font-size: 14px;
    padding: 15px 29px;
  }

  .logo {
    width: 72.985px;
    height: 59.047px;
  }

  .navbar__list {
    gap: 36px;
  }

  .navbar__link {
    font-size: 14px;
    line-height: 20px;
  }

  .user-block {
    gap: 24px;
  }

  .language-select__btn {
    font-size: 16px;
  }

  .footer__wrap {
    padding: 40px;
    gap: 24px;
    margin-bottom: 40px;
  }

  .footer__left-box .logo {
    width: 80px;
    height: 63.119px;
  }

  .footer__copyright {
    font-size: 11px;
    line-height: 18px;
  }

  .footer-nav__title {
    font-size: 16px;
    line-height: normal;
  }

  .footer-nav__item {
    font-size: 14px;
    line-height: 21px;
  }

  .callback-form {
    width: 460px;
  }

  .main-page .cases-list {
    gap: 40px 20px;
  }

  .main-page .cases-card {
    gap: 20px;
  }

  .main-page .cases-card__img-wrap {
    height: 392px;
  }

  .main-page .cases-card__desc-title {
    font-size: 18px;
    line-height: 24px;
  }

  .main-page .cases-card__desc-text {
    font-size: 14px;
    line-height: 20px;
  }

  .main-page .services-list {
    gap: 26px 20px;
  }

  .main-page .services-item__wrap {
    min-height: 210px;
    padding: 26px;
  }

  .main-page .services-item .services-item__arrow-icon {
    width: 26px;
    height: 26px;
  }

  .main-page .services-item__title {
    font-size: 20px;
    line-height: 23px;
  }

  .main-page .services-item__desc-item {
    font-size: 14px;
    line-height: 20px;
  }

  .main-page .platforms-list {
    gap: 32px;
  }

  .main-page .clients-list {
    gap: 20px;
  }

  .main-page .clients-item {
    height: 110px;
  }

  .main-page .clients-link {
    height: 110px;
  }

  .main-page .clients-link__title {
    font-size: 18px;
    line-height: 16px;
  }

  .main-page .preview__wrap {
    height: 470px;
  }

  .main-page .preview__title {
    font-size: 70px;
    line-height: 70px;
  }

  .main-page .ratings__wrap {
    min-height: 404px;
  }

  .main-page .ratings-content__wrap {
    padding: 46px 34px;
    gap: 30px;
  }

  .main-page .ratings__title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1.2px;
  }

  .main-page .ratings-list {
    gap: 12px;
  }

  .main-page .ratings-item {
    padding: 16px;
    min-height: 172px;
  }

  .main-page .ratings-item__header {
    padding: 7px 12px;
    gap: 5px;
  }

  .main-page .ratings-item__like-wrap {
    width: 13px;
    height: 13px;
  }

  .main-page .ratings-item__title {
    font-size: 12px;
    line-height: 14px;
  }

  .main-page .ratings-item__value {
    font-size: 16px;
    line-height: 28px;
  }

  .main-page .ratings-item__value--big {
    font-size: 34px;
    line-height: 28px;
  }

  .main-page .ratings-item__text {
    font-size: 10px;
    line-height: 13px;
  }

  .contacts-content {
    gap: 20px;
  }

  .contacts-box__link {
    font-size: 34px;
    line-height: 36px;
  }

  .achievements .achievements-list {
    gap: 36px 20px;
  }

  .achievements .achievements-card {
    height: 525px;
    gap: 16px;
  }

  .achievements .achievements-card__img-wrap {
    height: 426px;
  }

  .achievements .achievements-card__title {
    margin-bottom: 4px;
  }

  .case-about .stack-list {
    margin-bottom: 36px;
  }

  .case-about .case-swiper {
    height: 508px;
    margin-bottom: 36px;
  }

  .case-about .case-swiper .swiper-button-next {
    right: 30px;
  }

  .case-about .case-swiper .swiper-button-prev {
    left: 30px;
  }

  .case-about .case-descr {
    gap: 50px;
    margin-bottom: 72px;
  }

  .case-about .descr-item {
    grid-template-columns: repeat(4, 1fr);
  }

  .case-about .descr-item__title {
    font-size: 22px;
    line-height: 26px;
  }

  .case-about .descr-item__info-box {
    grid-column: span 3;
  }

  .case-about .descr-item__text {
    font-size: 16px;
    line-height: 22px;
    padding-right: 0px;
  }

  .case-about .descr-item__technologies-list {
    gap: 16px;
  }

  .case-about .descr-item__technology {
    width: 160px;
    height: 90px;
  }

  .case-about .descr-item__technology-wrap {
    max-height: 50px;
    max-width: 100px;
  }

  .case-about .descr-item__achievements-list {
    gap: 40px;
  }

  .case-about .descr-item__achieve-img {
    max-height: 40px;
  }

  .case-about .descr-item__achieve-text {
    font-size: 16px;
    line-height: 20px;
  }

  .another-cases .cases-card {
    gap: 20px;
  }

  .another-cases .cases-card__img-wrap {
    height: 245px;
  }

  .another-cases .cases-card__desc-title {
    font-size: 18px;
    line-height: 24px;
  }

  .another-cases .cases-card__desc-text {
    font-size: 14px;
    line-height: 20px;
  }

  .cases-page.cases .cases-list {
    gap: 40px 20px;
  }

  .cases-page.cases .cases-card {
    gap: 20px;
  }

  .cases-page.cases .cases-card__img-wrap {
    height: 392px;
  }

  .cases-page.cases .cases-card__desc-title {
    font-size: 18px;
    line-height: 24px;
  }

  .cases-page.cases .cases-card__desc-text {
    font-size: 14px;
    line-height: 20px;
  }

  .clients-page.clients .clients-list {
    gap: 20px;
  }

  .clients-page.clients .clients-item {
    height: 110px;
  }

  .web-development .platforms__wrap {
    margin-bottom: 70px;
  }

  .web-development .platforms-list {
    gap: 32px;
  }

  .web-development .ratings__wrap {
    min-height: 404px;
    margin-bottom: 70px;
  }

  .web-development .ratings-content__wrap {
    padding: 46px 34px;
    gap: 30px;
  }

  .web-development .ratings__title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1.2px;
  }

  .web-development .ratings-list {
    gap: 12px;
  }

  .web-development .ratings-item {
    padding: 16px;
    min-height: 172px;
  }

  .web-development .ratings-item__header {
    padding: 7px 12px;
    gap: 5px;
  }

  .web-development .ratings-item__like-wrap {
    width: 13px;
    height: 13px;
  }

  .web-development .ratings-item__title {
    font-size: 12px;
    line-height: 14px;
  }

  .web-development .ratings-item__value {
    font-size: 16px;
    line-height: 28px;
  }

  .web-development .ratings-item__value--big {
    font-size: 34px;
    line-height: 28px;
  }

  .web-development .ratings-item__text {
    font-size: 10px;
    line-height: 13px;
  }

  .web-development .preview__wrap {
    height: 290px;
    margin-bottom: 70px;
  }

  .web-development .preview__title {
    font-size: 70px;
    line-height: 70px;
  }

  .web-development .preview__descr {
    font-size: 16px;
    line-height: 20px;
  }

  .web-development .custom-development__wrap {
    margin-bottom: 70px;
  }

  .web-development .development-header {
    max-width: 460px;
    margin: 0 auto 36px;
  }

  .web-development .development-header__title {
    margin-bottom: 18px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -1.2px;
  }

  .web-development .development-header__descr {
    font-size: 14px;
    line-height: 18px;
  }

  .web-development .development-list {
    gap: 20px;
  }

  .web-development .development-item {
    padding: 26px;
    min-height: 240px;
    gap: 48px;
  }

  .web-development .development-item__icon-wrap {
    width: 34px;
    height: 34px;
  }

  .web-development .development-item__title {
    font-size: 22px;
  }

  .web-development .development-item__text {
    font-size: 14px;
    line-height: 18px;
  }

  .web-development .another-services__title {
    margin-bottom: 34px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -1.2px;
  }

  .web-development .services-swiper .services-item__wrap {
    min-height: 210px;
    padding: 26px;
  }

  .web-development .services-swiper .services-item .services-item__arrow-icon {
    width: 26px;
    height: 26px;
  }

  .web-development .services-swiper .services-item__title {
    font-size: 20px;
    line-height: 23px;
  }

  .web-development .services-swiper .services-item__desc-item {
    font-size: 14px;
    line-height: 20px;
  }

  .web-development .industries-services__wrap {
    margin-bottom: 70px;
  }

  .web-development .industries-services__title {
    margin-bottom: 36px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: -1.2px;
  }

  .web-development.industries-services .industries-list__item {
    font-size: 18px;
    padding-left: 14px;
  }

  .web-development.industries-services .industries-list__item::before {
    width: 8px;
    height: 8px;
  }

  .web-development.industries-services .services-list {
    gap: 20px;
  }

  .web-development.industries-services .services-item {
    min-height: 265px;
    padding: 30px;
    border-radius: 36px;
  }

  .web-development.industries-services .services-item__title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .web-development.industries-services .services-item__descr {
    font-size: 14px;
  }

  .web-development.industries-services .services-item__link-title {
    padding: 8px 14px;
    font-size: 12px;
    letter-spacing: -0.42px;
  }

  .web-development.industries-services .services-item__icon-wrap {
    width: 40px;
    height: 40px;
  }

  .web-development.industries-services .services-item__icon {
    width: 24px;
    height: 24px;
  }

  .services-page .services-list {
    gap: 26px 20px;
  }

  .services-page .services-item__wrap {
    min-height: 210px;
    padding: 26px;
  }

  .services-page .services-item .services-item__arrow-icon {
    width: 26px;
    height: 26px;
  }

  .services-page .services-item__title {
    font-size: 20px;
    line-height: 23px;
  }

  .services-page .services-item__desc-item {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .main.main-page {
    gap: 68px;
  }

  .container {
    max-width: 768px;
    padding: 0 34px;
  }

  .page-title {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.96px;
  }

  .section__title {
    margin-bottom: 34px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.96px;
  }

  .socials__item-icon {
    width: 26px;
    height: 26px;
  }

  .breadcrumbs__item {
    font-size: 14px;
    line-height: 20px;
  }

  .filter-chips {
    margin-bottom: 34px;
    gap: 10px 14px;
  }

  .filter-chips__item {
    font-size: 16px;
    line-height: 20px;
  }

  .logo {
    width: 55.034px;
    height: 44.523px;
  }

  .navbar {
    display: none;
    position: absolute;
    top: 85px;
    right: 0;
    z-index: 2;
    animation: navbarFade 0.3s ease-in-out;
  }

  .navbar.show {
    display: block;
  }

@keyframes navbarFade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}

  .navbar__list {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    gap: 24px;
    padding: 34px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 7px 50px 0px rgba(100, 100, 111, 0.1);
  }

  .navbar__link {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }

  .language-select__btn {
    font-size: 14px;
    line-height: normal;
  }

  .language-options__item-link {
    font-size: 14px;
    line-height: normal;
  }

  .burger-menu {
    display: flex;
  }

  .footer__wrap {
    padding: 36px;
    margin-bottom: 24px;
  }

  .footer__left-box .logo {
    width: 60.837px;
    height: 48px;
  }

  .footer-nav__item {
    font-size: 12px;
    line-height: 16px;
  }

  .main-page .cases-list {
    gap: 26px;
    grid-template-columns: 1fr;
  }

  .main-page .cases-card {
    padding: 15px 15px 28px 15px;
  }

  .main-page .cases-card__img-wrap {
    height: 416px;
  }

  .main-page .services-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 20px;
  }

  .main-page .services-item:first-child {
    grid-column: span 1;
  }

  .main-page .services-item__wrap {
    min-height: 188px;
  }

  .main-page .services-item__title {
    font-size: 18px;
    line-height: normal;
  }

  .main-page .services-item__desc-item {
    font-size: 14px;
    line-height: 20px;
  }

  .main-page .platforms-list {
    flex-wrap: wrap;
    gap: 20px 65px;
  }

  .main-page .clients-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .main-page .clients-link__title {
    font-size: 16px;
    line-height: 16px;
  }

  .main-page .preview__wrap {
    height: 385px;
  }

  .main-page .preview-list__item {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 16px;
  }

  .main-page .preview__title {
    font-size: 56px;
    line-height: 56px;
  }

  .main-page .ratings__wrap {
    min-height: 701px;
  }

  .main-page .ratings-content__wrap {
    padding: 48px 70px;
  }

  .main-page .ratings__title {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.96px;
  }

  .main-page .ratings-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .main-page .ratings-item {
    padding: 25px;
    min-height: 227px;
  }

  .main-page .ratings-item__header {
    padding: 10px 12px;
    gap: 8px;
  }

  .main-page .ratings-item__like-wrap {
    width: 18px;
    height: 18px;
  }

  .main-page .ratings-item__title {
    font-size: 14px;
    line-height: 15px;
  }

  .main-page .ratings-item__value {
    font-size: 20px;
    line-height: 40px;
  }

  .main-page .ratings-item__value--big {
    font-size: 45px;
    line-height: 40px;
  }

  .main-page .ratings-item__text {
    font-size: 12px;
    line-height: 16px;
  }

  .contacts-content {
    grid-template-columns: 1fr;
  }

  .contacts-block {
    gap: 30px;
    padding: 46px;
  }

  .contacts-box {
    gap: 24px;
  }

  .contacts-box__link {
    font-size: 26px;
    line-height: 28px;
  }

  .contacts-details__item {
    font-size: 18px;
    line-height: 24px;
  }

  .contacts .callback-form {
    width: 100%;
  }

  .achievements .achievements-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 19px;
  }

  .achievements .achievements-card {
    height: 565px;
  }

  .achievements .achievements-card__img-wrap {
    height: 477px;
  }

  .achievements .achievements-card__title {
    font-size: 18px;
    line-height: 24px;
  }

  .achievements .achievements-card__desc {
    font-size: 14px;
    line-height: 20px;
  }

  .case-about .stack-list {
    margin-bottom: 36px;
  }

  .case-about .stack-list__item {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .case-about .case-swiper {
    height: 379px;
  }

  .case-about .case-swiper .swiper-button-next,
  .case-about .case-swiper .swiper-button-prev {
    width: 40px;
    height: 40px;
  }

  .case-about .case-swiper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }

  .case-about .case-swiper .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
  }

  .case-about .case-descr {
    margin-bottom: 68px;
  }

  .case-about .descr-item {
    grid-template-columns: repeat(7, 1fr);
  }

  .case-about .descr-item__title-box {
    grid-column: span 2;
  }

  .case-about .descr-item__title {
    font-size: 20px;
    line-height: 23px;
  }

  .case-about .descr-item__info-box {
    grid-column: span 5;
  }

  .case-about .descr-item__text {
    font-size: 14px;
    line-height: 20px;
  }

  .case-about .descr-item__technologies-list {
    gap: 30px;
  }

  .case-about .descr-item__technology {
    width: 140px;
    height: 80px;
  }

  .case-about .descr-item__technology-wrap {
    max-height: 45px;
    max-width: 90px;
  }

  .case-about .descr-item__achievements-list {
    flex-direction: column;
    gap: 22px;
  }

  .case-about .descr-item__achieve-img {
    max-height: 34px;
  }

  .case-about .descr-item__achieve-info {
    max-width: 270px;
  }

  .case-about .descr-item__achieve-title {
    font-size: 18px;
    line-height: 20px;
  }

  .case-about .descr-item__achieve-text {
    font-size: 14px;
    line-height: 18px;
  }

  .another-cases .cases-card {
    padding: 15px 15px 28px 15px;
  }

  .another-cases .cases-card__img-wrap {
    height: 416px;
  }

  .cases-page.cases .filter-chips__item-link {
    font-size: 16px;
    line-height: 20px;
  }

  .cases-page.cases .cases-list {
    gap: 26px;
    grid-template-columns: 1fr;
  }

  .cases-page.cases .cases-card {
    padding: 15px 15px 28px 15px;
  }

  .cases-page.cases .cases-card__img-wrap {
    height: 416px;
  }

  .clients-page.clients .clients-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .web-development .platforms-list {
    flex-wrap: wrap;
    gap: 20px 65px;
  }

  .web-development .ratings__wrap {
    min-height: 701px;
  }

  .web-development .ratings-content__wrap {
    padding: 48px 70px;
  }

  .web-development .ratings__title {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.96px;
  }

  .web-development .ratings-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .web-development .ratings-item {
    padding: 25px;
    min-height: 227px;
  }

  .web-development .ratings-item__header {
    padding: 10px 12px;
    gap: 8px;
  }

  .web-development .ratings-item__like-wrap {
    width: 18px;
    height: 18px;
  }

  .web-development .ratings-item__title {
    font-size: 14px;
    line-height: 15px;
  }

  .web-development .ratings-item__value {
    font-size: 20px;
    line-height: 40px;
  }

  .web-development .ratings-item__value--big {
    font-size: 45px;
    line-height: 40px;
  }

  .web-development .ratings-item__text {
    font-size: 12px;
    line-height: 16px;
  }

  .web-development .preview__wrap {
    height: 250px;
  }

  .web-development .preview__title {
    font-size: 56px;
    line-height: 56px;
  }

  .web-development .preview__descr {
    max-width: 460px;
    font-size: 14px;
    line-height: 18px;
  }

  .web-development .development-header__title {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.96px;
  }

  .web-development .development-item {
    padding: 20px;
    gap: 40px;
  }

  .web-development .development-item__icon-wrap {
    width: 26px;
    height: 26px;
  }

  .web-development .development-item__title {
    font-size: 18px;
  }

  .web-development .another-services__title {
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.96px;
  }

  .web-development .services-swiper .services-item__wrap {
    min-height: 188px;
  }

  .web-development .services-swiper .services-item__title {
    font-size: 18px;
    line-height: normal;
  }

  .web-development .services-swiper .services-item__desc-item {
    font-size: 14px;
    line-height: 20px;
  }

  .web-development .industries-services__title {
    margin-bottom: 34px;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.96px;
  }

  .web-development.industries-services .industries-list {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }

  .web-development.industries-services .industries-list__item {
    font-size: 16px;
    padding-left: 12px;
  }

  .web-development.industries-services .industries-list__item::before {
    width: 6px;
    height: 6px;
  }

  .web-development.industries-services .services-item {
    min-height: 235px;
    padding: 17px;
    border-radius: 34px;
  }

  .web-development.industries-services .services-item__title {
    font-size: 18px;
  }

  .web-development.industries-services .services-item__descr {
    font-size: 13px;
  }

  .web-development.industries-services .services-item__link-title {
    padding: 6px 8px;
    font-size: 10px;
    letter-spacing: -0.36px;
  }

  .web-development.industries-services .services-item__icon-wrap {
    width: 30px;
    height: 30px;
  }

  .web-development.industries-services .services-item__icon {
    width: 16px;
    height: 16px;
  }

  .services-page .services-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 20px;
  }

  .services-page .services-item:first-child {
    grid-column: span 1;
  }

  .services-page .services-item__wrap {
    min-height: 188px;
  }

  .services-page .services-item__title {
    font-size: 18px;
    line-height: normal;
  }

  .services-page .services-item__desc-item {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .main.main-page {
    gap: 36px;
  }

  .container {
    max-width: 360px;
    padding: 0 20px;
  }

  .page-title {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.6px;
  }

  .section__title {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.6px;
  }

  .callback-success {
    width: 320px;
  }

  .breadcrumbs {
    margin: 28px 0 16px;
  }

  .breadcrumbs__item {
    font-size: 12px;
    line-height: 18px;
  }

  .filter-chips {
    margin-bottom: 32px;
    gap: 10px;
  }

  .filter-chips__item {
    font-size: 14px;
    line-height: 20px;
  }

  .header .callback-btn {
    display: none;
  }

  .navbar {
    min-width: 100%;
  }

  .navbar__list {
    min-width: 100%;
    align-items: center;
  }

  .navbar .callback-btn {
    display: block;
    width: 100%;
    padding: 11px;
  }

  .footer__wrap {
    flex-direction: column-reverse;
    padding: 26px;
    gap: 30px;
    border-radius: 40px;
  }

  .footer__left-box {
    gap: 10px;
  }

  .footer__left-box .logo {
    width: 48.163px;
    height: 38px;
  }

  .footer__rigth-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .footer-nav__list {
    flex-direction: column;
    gap: 12px;
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer-nav__list-box {
    gap: 12px;
  }

  .footer-basement__box {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
  }

  .footer-basement .footer-nav__list-box {
    flex-direction: column;
  }

  .callback-form {
    width: 320px;
    padding: 30px 20px 28px;
    gap: 30px;
  }

  .callback-form__title {
    font-size: 16px;
    line-height: 22px;
  }

  .callback-form__inputs-block {
    gap: 16px;
  }

  .callback-form__contact-label {
    font-size: 11px;
    line-height: 18px;
  }

  .callback-form__contact-title {
    font-size: 12px;
    line-height: 18px;
  }

  .callback-form__item {
    padding: 14px 20px;
  }

  .callback-form__item-input {
    font-size: 12px;
    line-height: 18px;
  }

  .callback-form__item-textarea {
    font-size: 12px;
    height: 52px;
  }

  .callback-form__attachment-btn {
    font-size: 12px;
    line-height: 18px;
  }

  .callback-form__submit {
    width: 100%;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 20px;
  }

  .callback-form__check-desc {
    font-size: 10px;
    line-height: 14px;
  }

  .main-page .cases-list {
    gap: 18px;
  }

  .main-page .cases-card {
    padding: 15px 15px 20px 15px;
  }

  .main-page .cases-card__img-wrap {
    border-radius: 23px;
    height: 230px;
  }

  .main-page .cases-card__img {
    border-radius: 23px;
  }

  .main-page .cases-card__desc-title {
    font-size: 14px;
    line-height: 22px;
  }

  .main-page .cases-card__desc-text {
    font-size: 12px;
    line-height: 17px;
  }

  .main-page .services-list {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .main-page .services-item__wrap {
    min-height: 200px;
  }

  .main-page .services-item .services-item__arrow-icon {
    width: 24px;
    height: 24px;
  }

  .main-page .services-item__title {
    font-size: 18px;
    line-height: normal;
  }

  .main-page .services-item__desc-item {
    font-size: 14px;
    line-height: 20px;
  }

  .main-page .platforms-list {
    gap: 14px 10px;
  }

  .main-page .clients-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .main-page .clients-item {
    padding: 12px;
    border-radius: 20px;
  }

  .main-page .clients-link {
    padding: 12px;
    border-radius: 20px;
  }

  .main-page .clients-link__title {
    font-size: 14px;
    line-height: 16px;
  }

  .main-page .preview__wrap {
    height: 350px;
  }

  .main-page .preview-list {
    flex-wrap: wrap;
    padding: 0 16px;
  }

  .main-page .preview-list__item {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 14px;
  }

  .main-page .preview__title {
    font-size: 33px;
    line-height: 33px;
  }

  .main-page .ratings__wrap {
    min-height: 904px;
    border-radius: 30px;
  }

  .main-page .ratings-content {
    border-radius: 30px;
  }

  .main-page .ratings-content__wrap {
    padding: 35px 55px;
    gap: 20px;
  }

  .main-page .ratings__title {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.6px;
  }

  .main-page .ratings-list {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .main-page .ratings-item {
    padding: 16px;
    min-height: 172px;
    border-radius: 30px;
  }

  .main-page .ratings-item__header {
    padding: 8px 12px;
    gap: 5px;
  }

  .main-page .ratings-item__like-wrap {
    width: 13px;
    height: 13px;
  }

  .main-page .ratings-item__title {
    font-size: 12px;
    line-height: 14px;
  }

  .main-page .ratings-item__value {
    font-size: 16px;
    line-height: 28px;
  }

  .main-page .ratings-item__value--big {
    font-size: 34px;
    line-height: 28px;
  }

  .main-page .ratings-item__text {
    font-size: 10px;
    line-height: 13px;
  }

  .contacts-block {
    gap: 24px;
    padding: 20px;
  }

  .contacts-box__item {
    gap: 10px;
  }

  .contacts-box__label {
    font-size: 14px;
    line-height: 20px;
  }

  .contacts-box__link {
    font-size: 18px;
    line-height: 20px;
  }

  .contacts-box__link-icon {
    width: 40px;
    height: 40px;
  }

  .contacts-details {
    gap: 10px;
  }

  .contacts-details__label {
    font-size: 14px;
    line-height: 20px;
  }

  .contacts-details__open-btn {
    font-size: 16px;
    line-height: 20px;
  }

  .achievements .achievements-list {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .achievements .achievements-card {
    height: 525px;
  }

  .achievements .achievements-card__img-wrap {
    height: 446px;
  }

  .achievements .achievements-card__desc {
    font-size: 12px;
    line-height: 18px;
  }

  .case-about .stack-list {
    margin-bottom: 18px;
  }

  .case-about .stack-list__item {
    padding: 6px 12px;
    font-size: 12px;
    line-height: 18px;
  }

  .case-about .case-swiper {
    height: 177px;
  }

  .case-about .case-swiper .swiper-button-next,
  .case-about .case-swiper .swiper-button-prev {
    width: 24px;
    height: 24px;
  }

  .case-about .case-swiper .swiper-button-next {
    right: 18px;
  }

  .case-about .case-swiper .swiper-button-prev {
    left: 18px;
  }

  .case-about .case-swiper .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
  }

  .case-about .case-swiper .swiper-pagination-bullet-active {
    width: 6px;
    height: 6px;
  }

  .case-about .case-descr {
    gap: 36px;
  }

  .case-about .descr-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .case-about .descr-item__title {
    font-size: 18px;
    line-height: 24px;
  }

  .case-about .descr-item__technologies-list {
    gap: 10px;
  }

  .case-about .descr-item__technology {
    width: 100px;
    height: 60px;
  }

  .case-about .descr-item__technology-wrap {
    max-height: 30px;
    max-width: 67px;
  }

  .case-about .descr-item__achievements-list {
    gap: 16px;
  }

  .case-about .descr-item__achieve {
    gap: 8px;
  }

  .case-about .descr-item__achieve-img {
    max-height: 28px;
  }

  .case-about .descr-item__achieve-title {
    font-size: 14px;
    line-height: 20px;
  }

  .case-about .descr-item__achieve-text {
    font-size: 12px;
    line-height: 18px;
  }

  .another-cases .cases-card {
    padding: 15px 15px 20px 15px;
  }

  .another-cases .cases-card__img-wrap {
    border-radius: 23px;
    height: 230px;
  }

  .another-cases .cases-card__img {
    border-radius: 23px;
  }

  .another-cases .cases-card__desc-title {
    font-size: 14px;
    line-height: 22px;
  }

  .another-cases .cases-card__desc-text {
    font-size: 12px;
    line-height: 17px;
  }

  .cases-page.cases .filter-chips__item-link {
    font-size: 14px;
    line-height: 20px;
  }

  .cases-page.cases .cases-list {
    gap: 18px;
  }

  .cases-page.cases .cases-card {
    padding: 15px 15px 20px 15px;
  }

  .cases-page.cases .cases-card__img-wrap {
    border-radius: 23px;
    height: 230px;
  }

  .cases-page.cases .cases-card__img {
    border-radius: 23px;
  }

  .cases-page.cases .cases-card__desc-title {
    font-size: 14px;
    line-height: 22px;
  }

  .cases-page.cases .cases-card__desc-text {
    font-size: 12px;
    line-height: 17px;
  }

  .clients-page.clients .clients-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .clients-page.clients .clients-item {
    padding: 12px;
    border-radius: 20px;
  }

  .web-development .platforms__wrap {
    margin-bottom: 36px;
  }

  .web-development .platforms-list {
    gap: 14px 10px;
  }

  .web-development .ratings__wrap {
    margin-bottom: 36px;
    min-height: 904px;
    border-radius: 30px;
  }

  .web-development .ratings-content {
    border-radius: 30px;
  }

  .web-development .ratings-content__wrap {
    padding: 35px 55px;
    gap: 20px;
  }

  .web-development .ratings__title {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.6px;
  }

  .web-development .ratings-list {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .web-development .ratings-item {
    padding: 16px;
    min-height: 172px;
    border-radius: 30px;
  }

  .web-development .ratings-item__header {
    padding: 8px 12px;
    gap: 5px;
  }

  .web-development .ratings-item__like-wrap {
    width: 13px;
    height: 13px;
  }

  .web-development .ratings-item__title {
    font-size: 12px;
    line-height: 14px;
  }

  .web-development .ratings-item__value {
    font-size: 16px;
    line-height: 28px;
  }

  .web-development .ratings-item__value--big {
    font-size: 34px;
    line-height: 28px;
  }

  .web-development .ratings-item__text {
    font-size: 10px;
    line-height: 13px;
  }

  .web-development .preview__wrap {
    height: 170px;
    margin-bottom: 36px;
    border-radius: 32px;
  }

  .web-development .preview-content__wrap {
    gap: 12px;
  }

  .web-development .preview__title {
    font-size: 33px;
    line-height: 33px;
  }

  .web-development .preview__descr {
    max-width: 250px;
    font-size: 12px;
    line-height: 15px;
  }

  .web-development .custom-development__wrap {
    margin-bottom: 36px;
  }

  .web-development .development-header {
    margin: 0 auto 18px;
  }

  .web-development .development-header__title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.6px;
  }

  .web-development .development-header__descr {
    font-size: 12px;
    line-height: 16px;
  }

  .web-development .development-list {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .web-development .development-item {
    padding: 26px;
    min-height: 190px;
    gap: 30px;
  }

  .web-development .development-item__title {
    font-size: 16px;
  }

  .web-development .development-item__text {
    font-size: 13px;
  }

  .web-development .another-services__title {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.6px;
  }

  .web-development .services-swiper .services-item__wrap {
    min-height: 200px;
  }

  .web-development .services-swiper .services-item .services-item__arrow-icon {
    width: 24px;
    height: 24px;
  }

  .web-development .services-swiper .services-item__title {
    font-size: 18px;
    line-height: normal;
  }

  .web-development .services-swiper .services-item__desc-item {
    font-size: 14px;
    line-height: 20px;
  }

  .web-development .industries-services__wrap {
    margin-bottom: 36px;
  }

  .web-development .industries-services__title {
    margin-bottom: 18px;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.6px;
  }

  .web-development.industries-services .industries-list {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .web-development.industries-services .industries-list__item {
    font-size: 14px;
  }

  .web-development.industries-services .services-list {
    grid-template-columns: 1fr;
  }

  .web-development.industries-services .services-item {
    padding: 26px;
  }

  .web-development.industries-services .services-item__link-title {
    padding: 6px 10px;
    font-size: 14px;
  }

  .services-page .services-list {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .services-page .services-item__wrap {
    min-height: 200px;
  }

  .services-page .services-item .services-item__arrow-icon {
    width: 24px;
    height: 24px;
  }

  .services-page .services-item__title {
    font-size: 18px;
    line-height: normal;
  }

  .services-page .services-item__desc-item {
    font-size: 14px;
    line-height: 20px;
  }
}